/*.dashboard #sidebar .slides{
    height: 90vh;
}*/
.dashboard #sidebar .slick-slide, .dashboard #sidebar .slides{
    height: auto;
}
.transactions-table th.last .table-dropdown{
    right: 0;
    left: auto;
    margin-right: -10px;
}
.transactions-area .transactions-table-container .transactions-table td :not(.transaction-area-amount){
    text-align: left !important;
    white-space: nowrap;
}

.transactions-area .transactions-table-container .transactions-table th {
    text-align: center !important;
    white-space: nowrap !important;

}
/*.transactions-area .transactions-table-container .modal .transactions-table th ,td{
    text-align: left !important;
    white-space: initial;
}*/
.transaction-area-amount{
    text-align: right !important;
   white-space: nowrap;
}
.dlb-table-cover{
    min-height: 63vh;
    overflow-y: hidden;
}
.dashboard .transactions-table td
{
    white-space: nowrap;
}

.option-filter-box .check-group{
    overflow-y: auto;
    overflow-x: auto;
    height: auto;
    max-height: 300px;
    -ms-max-height:300px;
}

.transactions-table th.blue .table-sort:before{
    height: 2px !important;
}

.error {
    color: #FAA61A;
}

.success{
    color: #00D164;
}

#blacklist-modal, #refund-modal, #txnstatus-modal {
    background-color: rgba(0,0,0,0.5);
}

#blacklist-modal .modal-content, #refund-modal .modal-content, #tx-details-modal .modal-content, #fraud-modal .modal-content,#txnstatus-modal .modal-content{
    width: auto !important;
}
#blacklist-btn,#fraud-btn{
    margin-bottom: 10px;
    cursor: pointer;
}
#blacklist-modal .data-list th{
    padding: 0px 10px 5px 55px;
    vertical-align: top;
    text-align: left !important;
}
#blacklist-modal .data-list td {
    text-align :left !important;
}

#refund-modal .data-list th{
     padding: 0px 10px 5px 55px;
}
#txnstatus-modal .data-list th{
     padding: 0px 10px 5px 55px;
}

/*#header-fixed {
    position: fixed;
    top: 0px; display:none;
    background-color:white;
}*/
.warning{
    font-size: 16px;
    color: #FFCC00;
    display: block;
    text-align: center;
    margin-bottom: 12px;
}

.transactions-table .ico-doc .ico-fraud
{
    width: 14px;
    height: 15px;
    background: url(../images/ico-notification-red-01.svg) no-repeat;
    background-size: 14px 15px;
    position: absolute;
    z-index: 20;
    top: 0;
    right: 0;
    margin: 11px -4px 0 0;
}

.amount-filter-search{
    padding-bottom: 0px !important;
}

.btn-search{
    cursor:default !important;
}

.blocked{
    pointer-events: none;
}
.parent-blocked{
    cursor: not-allowed;
}
.blur{
    color: transparent !important;
    text-shadow: 0 0 5px rgba(0,0,0,0.5) !important;
}
.blur a{
    color: transparent !important;
}

.dashboard .comments .tools button.save {
    background: url(../images/ico-check-green-01.svg) no-repeat;
    background-size: 14px 14px;
}

.dashboard .comments .tools button.cancel{
    background: url(../images/ico-001.svg) no-repeat;
    background-size: 14px 14px;
    margin-bottom: 9px;
}



.login .content{
    min-height: calc(100vh - 35px) !important;
}
.login .login-form label.error{
    margin: 8px 0 -10px !important;
}

ul.comments p{
    word-break: break-all;
}

table.transaction-log  td {
    overflow: auto;
    max-width : 50px;
    word-wrap: break-word;
}

/*Payment methods table logos*/
.logo-cell {
    padding:0px !important;
    vertical-align: middle !important;
    text-align: center;
    align-content: center;
}

.payment-table-logo {
    display:inline-block;
    vertical-align: baseline !important;
    padding:0px;
    margin:2px;
    width: 50px;
    height: 30px;
    background-size: 45px 28px !important;
    float:left;
    position:relative;
    top:1px;
}

.payment-table-logo.visa {
    background: url("../images/payment-methods/visa.png") no-repeat;
}

.payment-table-logo.visaelectron {
    background: url("../images/payment-methods/visa.png") no-repeat;
}

.payment-table-logo.visadebit {
    background: url("../images/payment-methods/visa.png") no-repeat;
}

.payment-table-logo.vpay {
    background: url("../images/payment-methods/visa.png") no-repeat;
}

.payment-table-logo.mastercard {
    background: url("../images/payment-methods/mastercard.png") no-repeat;
}

.payment-table-logo.mastercarddebit {
    background: url("../images/payment-methods/mastercard.png") no-repeat;
}

.payment-table-logo.maestro {
    background: url("../images/payment-methods/maestro.png") no-repeat;
}

.payment-table-logo.amex {
    background: url("../images/payment-methods/amex.png") no-repeat;
    margin-left:0.3px;
}

.payment-table-logo.discover {
    background: url("../images/payment-methods/discover.png") no-repeat;
    top: -2px;
}

.payment-table-logo.chinaunionpay {
    background: url("../images/payment-methods/chinaunionpay.png") no-repeat;
    margin-left:0.2px;
}

.payment-table-logo.jcb {
    background: url("../images/payment-methods/jcb.png") no-repeat;
    top:2px;
}

.payment-table-logo.paysafecard {
    background: url("../images/payment-methods/paysafecard.png") no-repeat;
    background-size: cover !important;
   width: 100px;
   height: 10px;
   top: 11px;
}
.dashboard .transactions-area .dataTables_paginate{
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.dashboard .transactions-area .dataTables_paginate ul{
    margin: 0 auto;
    display: inline-block;

}

.transactions-table-container{
    /*min-height: 80% !important;*/
    height: inherit;
    overflow:auto;
}
.transactions-table-container .remove-overflow{
    overflow:visible
}
.ip-error{
    text-align: center;
    margin-top: 150px;
}

::-ms-clear { width : 0; height: 0; } ::-ms-reveal { width : 0; height: 0; }

a{
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}
.dashboard .transactions-table .ico-view {
    float: none;
    margin-top: 15px;
}


.dashboard .transactions-table th{
    padding-top: 2px !important;
    cursor: default !important;
    z-index: 100;
    background: white ;
    position: relative!important;
}

.dashboard .info-summary table td:first-child{
    padding-left: 15px !important;
}

.transactions-area .transactions-table-container .transactions-table td.norecords{
    text-align: left !important;
    padding-left: 45px;
}

.liSelect {
    background-color: #ededed !important;
}

.dashboard .transactions-table th .table-sort{
    cursor: pointer !important;
}

.dashboard .transactions-table{
    cursor: default !important;
    border-collapse: separate!important;
}


.dates-list li:first-child {
    padding-top: 12px !important;
}

.modalPaymentMethod{
    margin-top: -5px !important;
    margin-left: -3px;
    background-position: -6px !important;
}

.ui-helper-hidden-accessible {

      border: 0;

      clip: rect(0 0 0 0);

      height: 1px;

      margin: -1px;

      overflow: hidden;

      padding: 0;

      position: absolute;

      width: 1px;
}

.summary-box {
    margin-bottom: 60px !important;
    padding-left: 0px;
    width: 0px;
}
.summary-box.open{
    padding-left: 10px;
    width: auto;
}

.summary-box .opener:hover, .summary-box.open .opener {
    opacity: 1;
}

.info-summary table th:nth-child(odd) {
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.info-summary table td:nth-child(odd) {
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    font-size: 9px;
    letter-spacing: 1.5px;
}

.dashboard .info-summary table th:nth-child(1){
    color: white !important;
}

/*.info-summary table td .cell {
    padding-bottom: 6px;

}*/
.info-summary table tbody {
    color: #fff;
    font-size: 13px;
}
.dashboard .modal-content{
   /*overflow: auto!important;*/
    width:100%;
}
/*.dashboard .modal-content {
   border-radius: 0;
   -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
   text-align: left;
   padding: 0;
   border: 0;
   overflow-y: hidden;
}

.modal-body {
   position: relative;
   padding: 15px;
   overflow-y: auto;
}*/

.defaultPointer{
    cursor: default !important;
}

/*.headertable{
    position: relative;
}
.transactions-area .transactions-table-container .transactions-table thead{
    position: fixed;
    background-color: white;
    height: 35px;
}
.transactions-area .transactions-table-container .transactions-table thead tr{
    position: fixed;
    background-color: white;
    height: 35px;
}
.table-gap{
    height: 35px;
}
table-header-div{
    position: relative;
    height: 35px;
}*/

.search-filter-search form,.option-filter-search form{
    margin-bottom: 0em !important;
}

.dashboard .info-summary table th{
    color:white;
}

.user-name{
    white-space: nowrap !important;
}


#change-password-modal modal-dialog{
max-width: 446px;
}

.validation-error
{
    border-color:#FAA61A;
    color:#FAA61A;
}

.hideElement{
    display: none;
}

.appear .bottom{
    margin:24px 0px !important;
}

.dashboard #sidebar .slides .slide {
    outline: none !important;
}

.transactions-table td.gatewayErrorMessage div{
    width: 142px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.transactions-table td.gatewayErrorMessage div:hover{
    overflow: visible;
    white-space: normal!important;
    width: auto;
}

#sidebar{
    /*transform : perspective(300px) rotateY(0deg)!important;*/
    /*-ms-transform: perspective(300px) rotateY(90deg);*/
    /*-webkit-transform: perspective(300px) rotateY(90deg);*/
}

/* Newly added css */
/*new 13.02.17*/
/*.form-sales*/
.form-sales {
    background: #fff;
    border-radius: 5px;
    margin-bottom: 13px;
    padding: 7px 10px 10px;
}
.form-sales .row {
    font-family: 'AdobeBlank';
    margin-left: -30px;
    margin-right: -20px;
}
.form-sales .row .col-md-2 {
    width: 20%;
}
.form-sales .row > [class^='col-'] {
    font-family: 'Mallanna', sans-serif;
    display: inline-block;
    vertical-align: bottom;
    float: none;
    padding-left: 30px;
    padding-right: 30px;
}
.form-sales .lbl {
    display: block;
    color: #a9a9a9;
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
}
.form-sales .bootstrap-select.btn-group .dropdown-toggle .caret {
    border: 0;
    width: 12px;
    height: 8px;
    background: url(../images/ico-107.svg) no-repeat;
    -webkit-background-size: 12px 7px;
    background-size: 12px 7px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: #000;
    right: 12px;
    margin-top: -4px;
}
.form-sales .bootstrap-select.open {
    -webkit-box-shadow: 5px 0px 13px 0px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 5px 0px 13px 0px rgba(0, 0, 0, 0.04);
    box-shadow: 5px 0px 13px 0px rgba(0, 0, 0, 0.04);
}
.form-sales .btn-default:active,
.form-sales .btn-default.active,
.form-sales .open>.dropdown-toggle.btn-default {
    border-color: #ccc;
}
.form-sales .btn-default {
    border-color: #ccc;
    color: #000;
    padding: 5px 31px 5px 8px;
    font-size: 15px;
    border-radius: 3px;
}
.account-select .dropdown-menu{
    right: 0;
}

.form-sales .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    color: #000;
}
.form-sales .bootstrap-select.btn-group.open .dropdown-toggle .caret {
    -webkit-transform: scale(-1);
    -ms-transform: scale(-1);
    -o-transform: scale(-1);
    transform: scale(-1);
    margin-top: -5px;
}
.form-sales .form-group {
    margin-bottom: 3px;
}
.form-sales .btn-group .dropdown-toggle:hover,
.form-sales .btn-group .dropdown-toggle:active:focus,
.form-sales .btn-group .dropdown-toggle:focus,
.form-sales .btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #fff;
    outline: none !important;
    z-index: 100;
}
.form-sales .bootstrap-select.btn-group .dropdown-menu li.selected {
    display: none;
}
.form-sales .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
.form-sales .bootstrap-select.btn-group .dropdown-menu {
    margin: -3px 0 0;
    border-radius: 0;
    border-color: #999;
    z-index: 0;
    padding: 2px 0 0;
    -webkit-box-shadow: 5px 5px 13px 0px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 5px 5px 13px 0px rgba(0, 0, 0, 0.04);
    box-shadow: 5px 5px 13px 0px rgba(0, 0, 0, 0.04);
    z-index: 99;
}
.form-sales .clear-link {
    color: #d6d6d6;
    font-size: 15px;
    line-height: 18px;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 7px;
    letter-spacing: 1px;
}
.form-sales .bootstrap-select .dropdown-menu>li>a {
    padding: 6px 8px;
    font-size: 14px;
    letter-spacing: 1px;
}
.form-sales .clear-link:hover {
    color: #000
}
.dashboard .comment-form .add-observation-area {
    height: 112px!important;
    resize: none!important;
}

.no-flickr {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
}
.dashboard .add-form{
    padding-bottom: 0px;
}

.create-chb-error{
    display:none;
}

.disable-selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.disable-selection:hover{
    background-color: transparent!important;
}

tr.active .disable-selection:hover{
    background-color: transparent!important;
}
select::-ms-expand {
    width:12px;
    border:none;
    background:#fff;
}

@-moz-document url-prefix() {
    select.form-control {
        padding-right: 25px;
        background-image: url("data:image/svg+xml,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='14px' height='14px' viewBox='0 0 1200 1000' fill='rgb(51,51,51)'> <path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/> </svg>");
        background-repeat: no-repeat;
        background-position: calc(100% - 7px) 50%;
        -moz-appearance: none;
        appearance: none;
        padding-top : 0px!important;
        text-overflow: ellipsis;
    }
 /*   select option:checked {
        background:#C0ECFA!important; ;
        box-shadow: 0 0 10px 100px #C0ECFA inset;
        color:#000!important;
    }*/
}

select.form-control {
    padding-top : 0px!important;
    text-overflow: ellipsis;
}

.alert .close{
    position: relative;
    bottom: 5px !important;
}

input::-moz-selection,textarea::-moz-selection { /* Code for Firefox */
    background: #C0ECFA;
}

input::selection,textarea::selection {
    background: #C0ECFA;
}


/*select option:checked{
    background: #C0ECFA;
}*/

/*select > option:hover{
    box-shadow: 0 0 10px 100px #C0ECFA inset;
    background: #C0ECFA;
}*/

/*
select option {

    box-shadow: 0 0 10px 100px #C0ECFA inset;
}
*/

/*select option:checked {
    background:#C0ECFA!important; ;
    box-shadow: 0 0 10px 100px #C0ECFA inset;
}*/

/*select option:hover {

    background:#C0ECFA
}
select option:checked {

    background:#C0ECFA
}*/


.data-list td {
    word-break: break-all;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
}
