body {
	background:#ededed;
}

.summary-box {
	margin-bottom: 29px;
}

.unfixed-summary .summary-box {
    margin: 0 0 15px;
}

.filters-nav > ul > li > a sup {
	border: solid 1px #B0B0B0 !important;
}

.transactions-table tr:hover td {background: #E9F8FD;}
.transactions-table tr.active td{background: #C0ECFA;}
.tools-panel {
	display:none;
}


.summary-box {
	z-index: 9999;
}

.user-box.dropdown-menu {
	display:none;
	-webkit-animation-duration: 0.7s; /* Safari 4.0 - 8.0 */
	animation-duration: 0.7s;
	-webkit-animation: bounceInDown 0.7s; /* Safari 4+ */
	-moz-animation:    bounceInDown 0.7s; /* Fx 5+ */
	-o-animation:      bounceInDown 0.7s; /* Opera 12+ */
	animation:         bounceInDown 0.7s; /* IE 10+, Fx 29+ */
}

.bounceInDown {
	-webkit-animation: bounceInDown 0.7s; /* Safari 4+ */
	-moz-animation:    bounceInDown 0.7s; /* Fx 5+ */
	-o-animation:      bounceInDown 0.7s; /* Opera 12+ */
	animation:         bounceInDown 0.7s; /* IE 10+, Fx 29+ */
}

.search-box .search-opener {
	right: 5px;
}

@media only screen and (min-width: 1081px) {
	.search-box.opened .search-collapse {
		width: 300px !important;
	}
}

#loader-container {
	position: absolute;
	width:100%;
	height:100%;
	z-index:9997;
	-webkit-transition: opacity 0.4s linear;
	-moz-transition: opacity  0.4s linear;
	-o-transition: opacity  0.4s linear;
	transition: opacity  0.4s linear;
}


#loader-overlay {
	position: absolute;
	width:100%;
	height:100%;
	background-color: black;
	opacity: 0.1;
	z-index:9998;
}

#loader {
	position: fixed;
	z-index: 9999;
	top: 50%;
	left: 50%;
	margin-left: -15px;
	transform: translate(-50%, -50%);
	opacity: 1;
}

.dropdown-menu {
	-webkit-animation-duration: 0.2s; /* Safari 4.0 - 8.0 */
	animation-duration: 0.2s;
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
}

.transactions-table th.sorting_desc .table-sort:before{height: 2px;}

.animation-slow {
  -vendor-animation-duration: 0.4s;
  -vendor-animation-delay: 0.1s;
  animation-duration: 0.4s;
  animation-delay: 0.1s;
}

.sidebar-closed {
	 transform: perspective( 300px ) rotateY( 90deg );
	 transition: all 0.5s;
}


.sidebar-opened {
	 transform: perspective( 342px ) rotateY( 0deg ) !important;
	 transition: all 0.5s;
}

.summary-box.transperent.open > div {
	transform: perspective( 400px ) rotateY( 0deg );
	transition: all 0.5s;
}
.summary-box.transperent > div {
	transform-origin: bottom left;
	transform: perspective( 400px ) rotateY( 45deg );
	transition: all 0.5s;
}

.table-dropdown-animation {
	 transform-origin: top center;
	 transition: all 0.2s;
}

.inline-db-logo {
	display:inline-block;
	width:20px;
	height: 18px;
	margin-bottom:0px;
	margin-right: 2px;
	background: url("../images/dalberry-logo-black.png") no-repeat;
	background-size: 18px 18px;
	vertical-align: bottom;
}

.inline-db-table-logo {
	display:inline-block;
	width:18px;
	height: 18px;
	margin-bottom:2px;
	margin-right: 2px;
	background: url("../images/dalberry-logo-black.png") no-repeat;
	background-size: 18px 18px;
	vertical-align: middle;
}

.modal mark {
	color: #999;
	background: none;
	padding: 0;
	font-size: 14px;
}

.input-addon-inline {
	background:none;
	border-color:#e6e6e6;
}

.input-nomargin {
	margin:0px !important;
}
.dashboard{
/*Filter boxes*/
.option-filter-box{
	width: 212px;
	background: #fff;
	border: solid 1px #f7f7f7;
	-webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
}

.option-filter-box .btns-row {
	padding-top: 15px;
	padding-bottom: 15px;
}

.option-filter-search{
	background: #f7f7f7;
	padding: 14px 18px 15px;
}
.option-filter-search .search-form{
	padding: 0 0 0 30px;
	position: relative;
}
.option-filter-search .search-form .btn-search{margin: 2px 0 0 2px;}
.option-filter-search .btn-search:before{
	width: 16px;
	height: 16px;
	background: url(../images/ico-search-gray-01.svg) no-repeat;
	background-size: 16px 16px;
	margin: -8px 0 0 -8px;
}
.option-filter-search .search-form .form-control{
	height: 31px;
	font-size: 14px;
	padding: 2px 4px;
}

.option-filter-box .btns-row{
	background: #f7f7f7;
	text-align: center;
	font-size: 0;
	line-height: 0;
	font-family: 'AdobeBlank';
	padding: 15px 0;
}
.option-filter-box .btns-row .btn{
	font-family: 'Mallanna', Arial, Helvetica, sans-serif;
	min-width: 76px;
	margin: 0 5px;
	padding: 4px 7px;
}

.option-filter-search .search-form .form-control::-moz-placeholder{color: #ccc;}
.option-filter-search .search-form .form-control:-ms-input-placeholder{color: #ccc;}
.option-filter-search .search-form .form-control::-webkit-input-placeholder{color: #ccc;}


.search-filter-box{
	width: 212px;
	background: #fff;
	border: solid 1px #f7f7f7;
	-webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
}

.search-filter-box .btns-row {
	padding-top: 15px;
	padding-bottom: 15px;
}

.search-filter-search{
	background: #f7f7f7;
	padding: 14px 18px 15px;
}
.search-filter-search .search-form{
	padding: 0 0 0 30px;
	position: relative;
}
.search-filter-search .search-form .btn-search{margin: 2px 0 0 2px;}
.search-filter-search .btn-search:before{
	width: 16px;
	height: 16px;
	background: url(../images/ico-search-gray-01.svg) no-repeat;
	background-size: 16px 16px;
	margin: -8px 0 0 -8px;
}
.search-filter-search .search-form .form-control{
	height: 31px;
	font-size: 14px;
	padding: 2px 4px;
}

.search-filter-box .btns-row .btn{
	font-family: 'Mallanna', Arial, Helvetica, sans-serif;
	min-width: 76px;
	margin: 0 5px;
	padding: 4px 7px;
}

.search-filter-search .search-form .form-control::-moz-placeholder{color: #ccc;}
.search-filter-search .search-form .form-control:-ms-input-placeholder{color: #ccc;}
.search-filter-search .search-form .form-control::-webkit-input-placeholder{color: #ccc;}


.amount-filter-box{
	width: 275px;
	background: #fff;
	border: solid 1px #f7f7f7;
	-webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
}

.amount-filter-box .btns-row {
	padding-top: 15px;
	padding-bottom: 15px;
}

.amount-filter-search{
	background: #f7f7f7;
	padding: 14px 18px 15px;
}
.amount-filter-search .search-form{
	padding: 0 0 0 30px;
	position: relative;
}
.amount-filter-search .search-form .btn-search{margin: 2px 0 0 2px;}
.amount-filter-search .btn-search:before{
	width: 16px;
	height: 16px;
	background: url(../images/ico-search-gray-01.svg) no-repeat;
	background-size: 16px 16px;
	margin: -8px 0 0 -8px;
}
.amount-filter-search .form-control {
	height: 31px;
	font-size: 14px;
	padding: 2px 4px;
	border-radius: 0px;
	border-color:#e6e6e6;
	-webkit-box-shadow:none !important;
	box-shadow: none !important;
}

.amount-filter-box .btns-row .btn{
	font-family: 'Mallanna', Arial, Helvetica, sans-serif;
	min-width: 76px;
	margin: 0 5px;
	padding: 4px 7px;
}

.amount-filter-search .amount-holder {
	padding-top: 10px;
	height:45px;
	width:100%;
	display:inline-block;
}

.amount-filter-search .form-control::-webkit-input-placeholder { color: #d9d9d9; }
.amount-filter-search .form-control:-moz-placeholder { color: #d9d9d9; }
.amount-filter-search .form-control::-moz-placeholder { color: #d9d9d9; }
.amount-filter-search .form-control:-ms-input-placeholder { color: #d9d9d9; }
}
