.daterangepicker {
  position: absolute;
  color: inherit;
  background-color: #fff;
  border-radius: 4px;
  width: 278px;
  padding: 4px;
  margin-top: 1px;
  top: 100px;
  left: 20px;
  /* Calendars */ }
  .daterangepicker:before, .daterangepicker:after {
    position: absolute;
    display: inline-block;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: ''; }
  .daterangepicker:before {
    top: -7px;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #ccc; }
  .daterangepicker:after {
    top: -6px;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent; }
  .daterangepicker.opensleft:before {
    right: 9px; }
  .daterangepicker.opensleft:after {
    right: 10px; }
  .daterangepicker.openscenter:before {
    left: 0;
    right: 0;
    width: 0;
    margin-left: auto;
    margin-right: auto; }
  .daterangepicker.openscenter:after {
    left: 0;
    right: 0;
    width: 0;
    margin-left: auto;
    margin-right: auto; }
  .daterangepicker.opensright:before {
    left: 9px; }
  .daterangepicker.opensright:after {
    left: 10px; }
  .daterangepicker.dropup {
    margin-top: -5px; }
    .daterangepicker.dropup:before {
      top: initial;
      bottom: -7px;
      border-bottom: initial;
      border-top: 7px solid #ccc; }
    .daterangepicker.dropup:after {
      top: initial;
      bottom: -6px;
      border-bottom: initial;
      border-top: 6px solid #fff; }
  .daterangepicker.dropdown-menu {
    max-width: none;
    z-index: 3001; }
  .daterangepicker.single .ranges, .daterangepicker.single .calendar {
    float: none; }
  .daterangepicker.show-calendar .calendar {
    display: block; }
  .daterangepicker .calendar {
    display: none;
    max-width: 270px;
    margin: 4px; }
    .daterangepicker .calendar.single .calendar-table {
      border: none; }
    .daterangepicker .calendar th, .daterangepicker .calendar td {
      white-space: nowrap;
      text-align: center;
      min-width: 32px; }
  .daterangepicker .calendar-table {
    border: 1px solid #fff;
    padding: 4px;
    border-radius: 4px;
    background-color: #fff; }
  .daterangepicker table {
    width: 100%;
    margin: 0; }
  .daterangepicker td, .daterangepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid transparent;
    white-space: nowrap;
    cursor: pointer; }
    .daterangepicker td.available:hover, .daterangepicker th.available:hover {
      background-color: #eee;
      border-color: transparent;
      color: inherit; }
    .daterangepicker td.week, .daterangepicker th.week {
      font-size: 80%;
      color: #ccc; }
  .daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
    background-color: #fff;
    border-color: transparent;
    color: #999; }
  .daterangepicker td.in-range {
    background-color: #ebf4f8;
    border-color: transparent;
    color: #000;
    border-radius: 0; }
  .daterangepicker td.start-date {
    border-radius: 4px 0 0 4px; }
  .daterangepicker td.end-date {
    border-radius: 0 4px 4px 0; }
  .daterangepicker td.start-date.end-date {
    border-radius: 4px; }
  .daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #357ebd;
    border-color: transparent;
    color: #fff; }
  .daterangepicker th.month {
    width: auto; }
  .daterangepicker td.disabled, .daterangepicker option.disabled {
    color: #999;
    cursor: not-allowed;
    text-decoration: line-through; }
  .daterangepicker select.monthselect, .daterangepicker select.yearselect {
    font-size: 12px;
    padding: 1px;
    height: auto;
    margin: 0;
    cursor: default; }
  .daterangepicker select.monthselect {
    margin-right: 2%;
    width: 56%; }
  .daterangepicker select.yearselect {
    width: 40%; }
  .daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
    width: 50px;
    margin-bottom: 0; }
  .daterangepicker .input-mini {
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    height: 30px;
    line-height: 30px;
    display: block;
    vertical-align: middle;
    margin: 0 0 5px 0;
    padding: 0 6px 0 28px;
    width: 100%; }
    .daterangepicker .input-mini.active {
      border: 1px solid #08c;
      border-radius: 4px; }
  .daterangepicker .daterangepicker_input {
    position: relative; }
    .daterangepicker .daterangepicker_input i {
      position: absolute;
      left: 8px;
      top: 8px; }
  .daterangepicker.rtl .input-mini {
    padding-right: 28px;
    padding-left: 6px; }
  .daterangepicker.rtl .daterangepicker_input i {
    left: auto;
    right: 8px; }
  .daterangepicker .calendar-time {
    text-align: center;
    margin: 5px auto;
    line-height: 30px;
    position: relative;
    padding-left: 28px; }
    .daterangepicker .calendar-time select.disabled {
      color: #ccc;
      cursor: not-allowed; }

.ranges {
  font-size: 11px;
  float: none;
  margin: 4px;
  text-align: left; }
  .ranges ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%; }
  .ranges li {
    font-size: 13px;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    color: #08c;
    padding: 3px 12px;
    margin-bottom: 8px;
    cursor: pointer; }
    .ranges li:hover {
      background-color: #08c;
      border: 1px solid #08c;
      color: #fff; }
    .ranges li.active {
      background-color: #08c;
      border: 1px solid #08c;
      color: #fff; }

/*  Larger Screen Styling */
@media (min-width: 564px) {
  .daterangepicker {
    width: auto; }
    .daterangepicker .ranges ul {
      width: 160px; }
    .daterangepicker.single .ranges ul {
      width: 100%; }
    .daterangepicker.single .calendar.left {
      clear: none; }
    .daterangepicker.single.ltr .ranges, .daterangepicker.single.ltr .calendar {
      float: left; }
    .daterangepicker.single.rtl .ranges, .daterangepicker.single.rtl .calendar {
      float: right; }
    .daterangepicker.ltr {
      direction: ltr;
      text-align: left; }
      .daterangepicker.ltr .calendar.left {
        clear: left;
        margin-right: 0; }
        .daterangepicker.ltr .calendar.left .calendar-table {
          border-right: none;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }
      .daterangepicker.ltr .calendar.right {
        margin-left: 0; }
        .daterangepicker.ltr .calendar.right .calendar-table {
          border-left: none;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0; }
      .daterangepicker.ltr .left .daterangepicker_input {
        padding-right: 12px; }
      .daterangepicker.ltr .calendar.left .calendar-table {
        padding-right: 12px; }
      .daterangepicker.ltr .ranges, .daterangepicker.ltr .calendar {
        float: left; }
    .daterangepicker.rtl {
      direction: rtl;
      text-align: right; }
      .daterangepicker.rtl .calendar.left {
        clear: right;
        margin-left: 0; }
        .daterangepicker.rtl .calendar.left .calendar-table {
          border-left: none;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0; }
      .daterangepicker.rtl .calendar.right {
        margin-right: 0; }
        .daterangepicker.rtl .calendar.right .calendar-table {
          border-right: none;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }
      .daterangepicker.rtl .left .daterangepicker_input {
        padding-left: 12px; }
      .daterangepicker.rtl .calendar.left .calendar-table {
        padding-left: 12px; }
      .daterangepicker.rtl .ranges, .daterangepicker.rtl .calendar {
        text-align: right;
        float: right; } }
@media (min-width: 730px) {
  .daterangepicker .ranges {
    width: auto; }
  .daterangepicker.ltr .ranges {
    float: left; }
  .daterangepicker.rtl .ranges {
    float: right; }
  .daterangepicker .calendar.left {
    clear: none !important; } }
















/*daterange picker css */
.calendar-box{
    width: 295px;
    background: #fff;
    border: solid 1px #f7f7f7;
    padding: 13px 14px 14px;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
}
.calendar-box:focus{outline: none;}
.date-select{
    position: relative;
    overflow: hidden;
    border: solid 1px #ddd;
    padding: 0 32px 0 0;
}
.date-select .date-range{
    font-size: 0;
    line-height: 0;
    font-family: 'AdobeBlank';
    text-align: left;
}
.date-select .date-range .form-control{
    height: 31px;
    font: 13px 'Mallanna', sans-serif;
    border: 0;
    background: none;
    color: #000;
    padding: 2px 13px;
    margin: 0;
    letter-spacing: 1.5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    display: block;
    width: 100%;
}
.date-select .date-range .form-control:focus{outline: none;}
.date-select .date-range .form-control::-moz-placeholder{
    color: #000;
    opacity: 1;
}
.date-select .date-range .form-control:-ms-input-placeholder{color: #000;}
.date-select .date-range .form-control::-webkit-input-placeholder{color: #000;}
.daterangepicker{
    background: none;
    border-radius: 0;
    left: 0;
    margin: 0;
    padding: 15px 0 0;
    width: 265px;
    top: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-width: 1px;
}
.daterangepicker.ltr .calendar.left{
    float: none;
    margin: 0;
    position: relative;
    z-index: 20;
}
.daterangepicker.ltr .calendar.right{display: none;}
.daterangepicker:before{display: none;}
.daterangepicker:after{
    position: absolute;
    z-index: 5;
    top: 1px !important;
    bottom: -15px !important;
    left: -15px !important;
    right: -15px !important;
    background: #fff;
    border: solid #f7f7f7;
    border-width: 0 1px 1px;
    -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, .1);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, .1);
}
.daterangepicker.ltr .left .daterangepicker_input{display: none;}
.daterangepicker.ltr .ranges{
    float: none;
    text-align: right;
    margin: 0;
    font-size: 0;
    line-height: 0;
    font-family: 'AdobeBlank';
    padding: 21px 12px 0;
    position: relative;
    z-index: 20;
}
.daterangepicker.ltr .ranges:after{
    content: '';
    display: block;
    clear: both;
}
.daterangepicker.ltr .ranges .btn{
    font-family: 'Mallanna', Arial, Helvetica, sans-serif;
    min-width: 84px;
}
.daterangepicker.ltr .ranges .btn-primary{float: right;}
.daterangepicker.ltr .ranges .btn-link{
    float: left;
    font-size: 0;
    line-height: 0;
    font-family: 'AdobeBlank';
}
.daterangepicker.ltr .ranges .btn-link:before{
    display: inline-block;
    vertical-align: top;
    content: 'Clear dates';
    font: 14px/20px 'Mallanna', sans-serif;
    letter-spacing: 1px;
    text-decoration: underline;
    color: #999;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.daterangepicker.ltr .ranges .btn-link:hover:before{color: #000;}
.daterangepicker .calendar-table,
.daterangepicker.ltr .calendar.left .calendar-table{
    padding: 0;
    border-radius: 0;
    border: 0;
}
.daterangepicker table{
    width: 100%;
    margin: 0;
    border-collapse: collapse;
}
.daterangepicker .calendar th{
    color: #999;
    font: 13px/18px 'Mallanna', sans-serif;
    text-align: center;
    vertical-align: top;
    padding: 11px 0 9px;
    border-bottom: solid 1px #ececec;
}
.daterangepicker .calendar .prev,
.daterangepicker .calendar .next{
    padding: 0;
    width: 30px;
    height: 30px;
    border: 0;
    position: relative;
}
.daterangepicker .calendar .prev i,
.daterangepicker .calendar .next i{display: none;}
.daterangepicker .calendar .prev.available:hover,
.daterangepicker .calendar .next.available:hover{background: none;}
.daterangepicker .calendar .prev:before,
.daterangepicker .calendar .prev:after,
.daterangepicker .calendar .next:before,
.daterangepicker .calendar .next:after{
    content: '';
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    background: #999;
    width: 1px;
    height: 18px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.daterangepicker .calendar .prev:before{
    margin: 2px 0 0 6px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.daterangepicker .calendar .prev:after{
    margin: 14px 0 0 6px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.daterangepicker .calendar .next:before{
    margin: 14px 0 0 29px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.daterangepicker .calendar .next:after{
    margin: 2px 0 0 29px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.daterangepicker .calendar .prev:hover:before,
.daterangepicker .calendar .prev:hover:after,
.daterangepicker .calendar .next:hover:before,
.daterangepicker .calendar .next:hover:after{background: #000;}
.daterangepicker .calendar .month{
    padding: 4px 0;
    color: #999;
    font: 15px/19px 'Mallanna', sans-serif;
    border: 0;
}
.daterangepicker td{
    border-radius: 0;
    height: 38px;
    width: auto;
    border: solid 1px #ececec;
    color: #000;
    font-size: 13px;
}
.daterangepicker tbody tr:nth-child(1) td{border-top-width: 0;}
.daterangepicker td.off,
.daterangepicker td.off.in-range,
.daterangepicker td.off.start-date,
.daterangepicker td.off.end-date{border-color: #ececec;}
.daterangepicker td.off{color: #d4d4d4;}
.daterangepicker td.available:hover{
    background: #d8d8d8;
    color: #000;
    border-color: #ececec;
}
.daterangepicker td.in-range{
    color: #000;
    background: #f6f6f6;
    border-color: #ececec;
}
.daterangepicker td.active,
.daterangepicker td.active:hover{
    background: #323232;
    color: #fff;
    border-radius: 0;
}
.daterangepicker td.start-date.end-date{border-radius: 0;}
.date-select .date-range .date{
    display: inline-block;
    vertical-align: top;
    color: #000;
    font: 14px/19px 'Mallanna', sans-serif;
    letter-spacing: 1.5px;
    padding: 5px;
    text-decoration: none;
}
.date-select .date-range .date:hover{
    text-decoration: none;
    color: #15bbed;
}
.date-select .date-range .sep{
    display: inline-block;
    vertical-align: top;
    width: 8px;
    height: 1px;
    background: #c6c6c6;
    margin: 15px 3px 0;
}
.btn-list{
    position: absolute;
    z-index: 20;
    top: 0;
    right: 0;
    bottom: 0;
    width: 32px;
    background: #ededed;
    border-left: solid 1px #ddd;
    padding: 13px 10px 10px;
}
.btn-list:hover{background: #000;}
.btn-list span{
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    height: 1px;
    background: #000;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.btn-list span:nth-child(2){
    margin-left: 1px;
    margin-right: 1px;
}
.btn-list span:nth-child(3){
    margin-left: 2px;
    margin-right: 2px;
}
.btn-list span + span{margin-top: 2px;}
.btn-list:hover span{background: #fff;}
.dates-list{
    list-style: none;
    margin: 0;
    padding: 21px 0 22px;
}
.dates-list li{
    font-size: 0;
    line-height: 0;
    font-family: 'AdobeBlank';
    text-align: right;
}
.dates-list li + li{padding: 11px 0 0;}
.dates-list a{
    display: block;
    color: #545e67;
    text-decoration: none;
}
.dates-list a:hover{
    text-decoration: none;
    color: #000;
}
.dates-list .active a{color: #dcdcdc;}
.dates-list strong{
    display: inline-block;
    vertical-align: top;
    font: 13px/18px 'Mallanna', sans-serif;
}
.dates-list span{
    display: inline-block;
    vertical-align: top;
    font: 9px/18px 'Mallanna', sans-serif;
    width: 160px;
    padding: 0 0 0 15px;
}
.calendar-box .btns-row{
    font-size: 0;
    line-height: 0;
    font-family: 'AdobeBlank';
    text-align: right;
}
.calendar-box .btns-row .btn{
    font-family: 'Mallanna', Arial, Helvetica, sans-serif;
    min-width: 84px;
}
.calendar-box .btns-row .btn-link{
    margin-right: 60px;
    color: #999;
}
.calendar-box .btns-row .btn-link:active,
.calendar-box .btns-row .btn-link.active,
.calendar-box .btns-row .btn-link:focus,
.calendar-box .btns-row .btn-link.focus,
.calendar-box .btns-row .btn-link:active:hover,
.calendar-box .btns-row .btn-link.active:hover,
.calendar-box .btns-row .btn-link:active:focus,
.calendar-box .btns-row .btn-link.active:focus,
.calendar-box .btns-row .btn-link:active.focus,
.calendar-box .btns-row .btn-link.active.focus,
.calendar-box .btns-row .btn-link:hover{color: #000;}
.calendar-box .calendar-block{
    display: none;
    padding: 20px 0 21px;
}
.btn {
    vertical-align:top;
    outline:0 !important;
    min-width:87px;
    border-radius:5px;
    border:1px solid transparent;
    font-size: 14px;
    line-height:20px;
    padding:5px 15px;
}
.btn-primary {background:#323232;}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:hover {
    background:#999;
    border-color: transparent;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    background:#000;
    border-color: transparent;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.btn-link {text-decoration:underline;}
.btn-link:active,
.btn-link.active,
.open > .dropdown-toggle.btn-link,
.btn-link:focus,
.btn-link.focus,
.btn-link:active:hover,
.btn-link.active:hover,
.open > .dropdown-toggle.btn-link:hover,
.btn-link:active:focus,
.btn-link.active:focus,
.open > .dropdown-toggle.btn-link:focus,
.btn-link:active.focus,
.btn-link.active.focus,
.open > .dropdown-toggle.btn-link.focus,
.btn-link:hover {color:#D8D8D8;}
.btn-link:active,
.btn-link.active,
.open > .dropdown-toggle.btn-link,
.btn-link:active:hover,
.btn-link.active:hover,
.btn-link:active:focus,
.btn-link.active:focus,
.btn-link:active.focus,
.btn-link.active.focus{color: #414141;}