/* General Reset */
.login{
	margin: 0;
	color: #a9a9a9;
	font: 12px/15px 'Mallanna', Arial, Helvetica, sans-serif;
	background: #fff url(../images/cortex-background.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-text-size-adjust: none;
	min-width: 320px;
}
.login{
img {
	border-style: none;
}
input,
textarea,
select {
	color: #000;
	vertical-align: middle;
	font: 100% Arial, Helvetica, sans-serif;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
	border: none;
	padding: 0;
}
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="text"],
input[type="search"] {
	-webkit-appearance: none;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: none;
	cursor: pointer;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
blockquote,
q {
	quotes: none;
}
q:before,
q:after {
	content: '';
}
a {
	color: #a9a9a9;
	text-decoration: none;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
a:hover {
	color: #909090;
	text-decoration: underline;
}
a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus {
	outline: none;
}
* {
	margin: 0;
	padding: 0;
}
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
p {
	margin-bottom: 10px;
}
.content {
	min-height: calc(100vh - 35px);
	background-color: transparent;
}
.cp-btn{
    margin-top: 20px;
}
/*.container-fluid */
.container-fluid {
	padding: 0 30px;
}
.clearfix:after,
.container-fluid:after {
	content: '';
	clear: both;
	display: block;
}
/*#header-login */
#header-login {
	padding: 5px 0;
}
#header-login .logo {
	float: left;
	background: url(../images/full-logo.png) no-repeat;
	width: 163px;
	height: 49px;
	text-indent: -9999px;
	overflow: hidden;
}
#header-login .logo a {
	display: block;
	height: 100%;
}
/*#footer-login*/
#footer-login{
	padding-bottom: 20px;
}
#footer-login .copy {
	float: left;
	margin: 0 10px 0 0;
}
.footer-nav {
	float: right;
	list-style: none;
	padding: 0 3px 0 0;
	margin: 0;
}
.footer-nav li {
	float: left;
}
.footer-nav li + li {
	margin-left: 33px;
}
.modal-wr.open {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
	opacity: 1;
	visibility: visible;
}
/*.modal-wr*/
.modal-wr {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	text-align: center;
	padding: 0 15px;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	-o-transform: translate(0, -25%);
	transform: translate(0, -25%);
	-webkit-transition: -webkit-transform 0.3s ease-out, all 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out, all 0.3s ease-out;
	transition: transform 0.3s ease-out, all 0.3s ease-out;
}
.modal-wr:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}
.modal {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin: 90px 0;
	background: #fff;
	width: 304px;
	padding: 35px 30px 30px;
	-webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
	position: relative;
	z-index: 10;
}
.modal h2 {
	font: 26px/31px 'Mallanna', sans-serif;
	margin: 0 0 7px;
	color: #000;
}
.modal .modal-body {
	font-size: 15px;
	line-height: 18px;
	color: #667078;
}
/*.login-form*/
.login-form {
	margin: 35px 0 0;
}
.login-form .form-group {
	text-align: left;
	margin-bottom: 8px;
}
.login-form label {
	font: 14px/17px 'Mallanna', sans-serif;
	color: #667078;
}
.login-form .form-control {
	font: 15px/20px 'Mallanna', sans-serif;
	color: #000;
	border: 1px solid #e3e3e3;
	height: 32px;
	border-radius: 5px;
	-webkit-box-shadow: none;
	box-shadow: none;
	display: block;
	width: 100%;
	padding: 6px 13px;
}
.login-form .form-control::-moz-placeholder {
	color: #000;
	opacity: 1;
}
.login-form .form-control:-ms-input-placeholder {
	color: #000;
}
.login-form .form-control::-webkit-input-placeholder {
	color: #000;
}
.login-form .form-control.error {
	color: #FAA61A !important;
	border-color: #f9a61b !important;
}
.login-form label.error {
	color: #FAA61A;
	font-size: 12px;
	line-height: 15px;
	display: block;
	margin: 9px 0 -23px;
}
.login-form .form-control[type="password"] {
	font: 13px/20px Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.login-form .chk-group {
	position: relative;
	float: left;
}
.modal-recovery .login-form .form-control {
	border-color: #000;
	font: 15px/20px 'Mallanna', sans-serif;
	padding: 3px 10px 3px;
}
/*checkbox*/
.login-form .chk[type="checkbox"] {
	position: absolute;
	left: 4px;
	top: 3px;
	opacity: 0;
	margin: 0;
	z-index: 1;
}
.login-form .chk[type="checkbox"] + label {
	position: relative;
	padding-left: 29px;
	cursor: pointer;
	color: #000;
	top: -2px;
}
.login-form .chk[type="checkbox"] + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 4px;
	width: 20px;
	height: 20px;
	border: 1px solid #a0a5aa;
	background: #fff;
	border-radius: 4px;
}
.login-form .chk[type="checkbox"] + label:after {
	content: '';
	background: url(../images/ico-check.svg) no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	width: 11px;
	height: 10px;
	position: absolute;
	top: 9px;
	left: 5px;
	color: #eea411;
	transition: all .2s;
}
.login-form .chk[type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
.login-form .chk[type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}
.login-form .chk[type="checkbox"]:disabled:not(:checked) + label:before,
.login-form .chk[type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
.login-form .chk[type="checkbox"]:disabled:checked + label:after {
	color: #999;
}
.login-form .chk[type="checkbox"]:disabled + label {
	color: #aaa;
}
.modal .remember-box {
	margin: 34px 0 34px;
	text-align: left;
}
.modal .remember-box:after {
	content: '';
	clear: both;
	display: block;
}
.login-form .forgot-password {
	float: right;
	font-size: 14px;
	line-height: 17px;
	color: #00c9f2;
	display: none;
}
.login-form .forgot-password:hover {
	color: #1ae3ff;
	text-decoration: underline;
}
.login-form .forgot-password.black {
	color: #667078;
	font-size: 14px;
	line-height: 17px;
	text-decoration: underline;
}
.login-form .forgot-password.black:hover {
	color: #808a92;
}
.modal .btn-default {
	color: #fff;
	background: #323232;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid #323232;
	border-radius: 4px;
	min-width: 87px;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.modal.modal-recovery .text-holder .btn-default:hover,
.modal .btn-default:hover {
	text-decoration: none;
	background: #4c4c4c;
}
.modal .btn-default.disabled,
.modal .btn-default[disabled],
.modal fieldset[disabled] .btn-default {
	cursor: not-allowed;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: #fff;
	color: #cfcfcf;
	border-color: #e3e3e3;
}
/*.modal-recovery*/
.modal.modal-recovery {
	min-height: 385px;
}
.modal.modal-recovery .modal-body {
	line-height: 25px;
}
.modal.modal-recovery .modal-body .login-form {
	line-height: 17px;
}
.modal.modal-recovery .login-form {
	margin-top: 43px;
}
.modal.modal-recovery h2 {
	margin: 0 0 16px;
}
.modal.modal-recovery .remember-box {
	margin: 24px 0;
}
.modal.modal-recovery .text-holder {
	color: #000;
	font-size: 15px;
	line-height: 25px;
	margin: 35px 0 73px;
}
.modal.modal-recovery .text-holder a {
	color: #000;
}
.modal.modal-recovery .text-holder a:hover {
	text-decoration: underline;
}
.modal.modal-recovery .text-holder .link {
	color: #15beef;
	text-decoration: underline;
}
.modal.modal-recovery .text-holder .link:hover {
	color: #2FD8FF;
}
.modal.modal-recovery .text-holder p {
	margin-bottom: 25px;
}
.hidden{
	display: none;
}
/* General settings */
@media only screen and (max-width: 991px) {
	 #header-login {
		padding: 10px 0;
	}
	.container-fluid {
		padding: 0 10px;
	}
}
@media screen and (max-width: 767px),
screen and (orientation: landscape) and (max-width: 767px),
screen and (orientation: portrait) and (max-width: 767px) {
	.content {
		min-height: calc(100vh - 38px);
	}
	#header-login .logo {
		width: 120px;
		background-size: contain;
		height: 33px;
	}
	.modal {
		width: 286px;
		padding: 25px 15px;
		margin: 50px 0 45px;
	}
	 #footer-login .copy {
		float: none;
		margin: 0 0 4px;
		display: block;
		text-align: center;
	}
	.footer-nav {
		float: none;
		display: block;
		text-align: center;
	}
	.footer-nav li {
		float: none;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 4px;
	}
	.footer-nav li + li {
		margin-left: 6px;
	}
	#footer-login{
		padding-bottom: 0;
	}
}
}
.login .login-form input.form-control[data-isvalid=true]{
	border-color: #00C0F3;
}

//#FAA61A
//##00C0F3
