<template id="change-pswd-modal-template">
		<div class="modal-wr" id="modal-cp">
			<div class="modal">
				<div class="modal-body">
					<h2>Change Password</h2>
					<p>Enter your details below</p>
					<div class="login-form">
						<form novalidate id="cp-form">
							<div class="form-group">
								<label for="pswd">Enter New Password</label>
								<input type="password"  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,20}" class="form-control" id="pswd" name="pswd" required>
							</div>
							<div class="form-group">
								<label for="cpswd">Confirm Password</label>
								<input type="password"  data-compare='true' data-controlid='pswd' class="form-control" id="cpswd" name="cpswd" required>
							</div>
							<div class="btn-group">
								<input  type="button" class="btn-default cp-btn" id="cp-btn" value="Change Password">
								<label for="cp-btn"   id="cp-result" class="error">Request Failed</label>
							</div>
						</form>
					</div>
					<!-- /login-form -->
				</div>
				<!-- /modal-body -->
			</div>
			<!-- /modal -->
		</div>
		<!-- /modal-wr -->
</template>
