<template id="login-content-template">
    <div class="login">
<div class="content">
    <login-header></login-header>
    <login-modal></login-modal>
    <change-pswd-modal></change-pswd-modal>
    <pswd-recovery></pswd-recovery>
    <recovery-fb></recovery-fb>

</div>
<!-- /content -->
<login-footer></login-footer>
    </div>
</template>