<template id="login-modal-template">
		<div class="modal-wr" id="modal-login">
			<div class="modal">
				<div class="modal-body">
					<h2>Log in to Dalberry</h2>
					<p>Enter your details below</p>
					<div class="login-form">
						<form novalidate id="login-form">
							<div class="form-group">
								<label for="email">E-mail</label>
								<input   type="email" class="form-control" id="email" required>
							</div>
							<div class="form-group">
								<label for="password">Password</label>
								<input type="password" class="form-control" id="password" required>

							</div>
							<div class="remember-box">
								<!-- /chk-group -->
								<a href="#" class="forgot-password" id="forgot-password">Forgot password?</a>
							</div>
							<div class="btn-group">
								<input type="submit" formnovalidate  class="btn-default login-btn" value="Log in">
								<label for="password" id="result" class="error">Your credentials are incorrect</label>
							</div>
						</form>
					</div>
					<!-- /login-form -->
				</div>
				<!-- /modal-body -->
			</div>
			<!-- /modal -->
		</div>
		<!-- /modal-wr -->
</template>
