<template id="login-header-template">
<header id="header-login">
			<div class="container-fluid">
				<strong class="logo"><a href="#">Dalberry</a></strong>
			</div>
		</header>
		<!-- /header -->
</template>