<template id="login-footer-template">
<footer id="footer-login">
		<div class="container-fluid">
			<p class="copy">&copy; 2017 Dalberry Technologies</p>
			<ul class="footer-nav">
				<li><a href="#">Disclaimer</a></li>
				<li><a href="#">Privacy policy</a></li>
				<li><a href="#">Terms and Conditions</a></li>
				<li><a href="#">Contacts</a></li>
			</ul>
			<!-- /footer-nav -->
		</div>
	</footer>
	<!-- /footer -->
</template>