<template id="pswd-recovery-template">
		<div class="modal-wr" id="modal-recovery">
			<div class="modal modal-recovery">
				<div class="modal-body">
					<div class="form-holder">
						<h2>Password recovery</h2>
						<p>Enter your email and we will email
							<br> you a link to create new password</p>
						<div class="login-form">
							<form novalidate action="#">
								<div class="form-group">
									<label for="email-01">E-mail</label>
									<input type="email"  class="form-control" id="email-01">
								</div>
								<div class="remember-box">
									<a href="#" id="back-to-login" class="forgot-password black">Back to Log in</a>
								</div>
								<div class="btn-group">
									<input type="submit"  class="btn-default" id="submit-recovery" value="Send">
								</div>
							</form>
						</div>
						<!-- /login-form -->
					</div>
					<!-- /form-holder -->
					<div class="thank-you hidden">
						<div class="text-holder">
							<p>An email to reset your password has been sent to <a href="mailto:linda@uxdesign.com">linda@uxdesign.com</a></p>
							<p>If you do not receive an email please contact your account manager or
								<a href="#" class="link">customer service</a></p>
						</div>
						<a href="#" class="btn-default">Ok</a>
					</div>
					<!-- /thank-you -->
				</div>
				<!-- /modal-body -->
			</div>
			<!-- /modal -->
		</div>
		<!-- /modal-wr -->
</template>
