<template id="recovery-fb-template">
		<div class="modal-wr" id="modal-recovery-feedback">
			<div class="modal modal-recovery">
				<div class="modal-body">
					<div class="thank-you">
						<div class="text-holder">
							<p>An email to reset your password has been sent to <a href="mailto:linda@uxdesign.com">linda@uxdesign.com</a></p>
							<p>If you do not receive an email please contact your account manager or
								<a href="#" class="link">customer service</a></p>
						</div>
						<a href="#" class="btn-default" id="recovery-done">Ok</a>
					</div>
				</div>
				<!-- /modal-body -->
			</div>
			<!-- /modal -->
		</div>
		<!-- /modal-wr -->
</template>