<template id="blacklist-template">
	<div class="modal fade" id="blacklist-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-body">
					<header class="headline">
						<h4>Are you sure you want to add this customer to the negative database?</h4>
					</header>
					<label class="warning" id="bl-partial"></label>
					<table class="data-list">
						<tr>
							<th>Name</th>
							<td id="bl-name">Linda Jones</td>
						</tr>
						<tr>
							<th>Email</th>
							<td id="bl-email">lindajones@gmail.com</td>
						</tr>
						<tr>
							<th>Address</th>
							<td id="bl-address">674 Worthington Drive, Dallas, TX</td>
						</tr>
						<tr>
							<th>Payment Instrument</th>
							<td id="bl-ins">123456******1234</td>
						</tr>
					</table>
				</div>
				<footer class="modal-footer">
					<button type="button" class="btn btn-link  close-modal">Cancel</button>
					<button type="button" class="btn btn-primary" id="bl-process">Yes</button>
				</footer>
			</div>
			<button type="button" class="btn-close  close-modal">Close</button>
		</div>
	</div>
</template>