<template id="change-password-template">
	<div class="modal fade" id="change-password-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-body">
					<h2>Change Password</h2>
					<p>Enter your details below</p>
					<div class="login-form">
						<form novalidate id="cp-form">
							<div class="form-group">
								<label >Old Password</label>
								<input  type="password" class="form-control" id="oldPswd" required>
							</div>
							<div class="form-group">
								<label for="pswd">Enter New Password</label>
								<input  type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!#$%&'()*+,-.:;<=>?@[\]^_`{|}~])[A-Za-z\d$@$!%*?&]{8,20}" class="form-control" id="pswd" required>
							</div>
							<div class="form-group">
								<label for="cpswd">Confirm Password</label>
								<input  type="password" data-compare='true' data-controlid='pswd' class="form-control" id="cpswd" required>
							</div>
							<div class="btn-group">
								<input type="button" formnovalidate class="btn-default cp-btn" value="Change Password">
							</div>
							<label id="cp-result" class="error">Request Failed</label>
						</form>
					</div>
					<!-- /login-form -->
					</div>
						<button type="button" class="btn-close  close-modal">Close</button>
					</div>
				</div>

		</div>
	</div>
</template>
