<template id="content-area-template">
    <div class="content-area container-fluid">
        <div class="transactions-area">
            <div class="transactions-table-container">
                <reporting-txn-table></reporting-txn-table>
            </div>
            <div class="bottom appear">
                <!-- <div class="dataTables_length" id="DataTables_Table_0_length"><label>Show <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-control input-sm"><option value="25">25</option><option value="50">50</option><option value="75">75</option><option value="100">100</option></select> entries</label></div> -->
                <div class="dataTables_paginate paging_simple_numbers">
                    <!-- <ul class="pagination"><li class="paginate_button previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0">2</a></li><li class="paginate_button next" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0">Next</a></li></ul>
                 <-->
                </div>
            </div>

            <reporting-summary-box></reporting-summary-box>
            <transaction-details></transaction-details>
            <change-password></change-password>
            <refund-modal></refund-modal>
            <blacklist-modal></blacklist-modal>
            <txnstatus-modal></txnstatus-modal>
            <create-chargeback-modal></create-chargeback-modal>
            <fraud-modal></fraud-modal>
            <!-- summary-box -->
        </div><!-- end transactions-area -->
    </div><!-- end content-area -->
</template>
