<template id="create-chargeback-modal-template">
    <div class="modal fade" id="modal-add-chargeback" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md size2" style="max-width: 650px;">
            <div class="modal-content">
                <div class="blacklist-form">
                    <form action="#">
                        <div class="modal-body">
                            <header class="headline" style="padding-bottom:20px">
                                <h4>Add Chargeback?</h4>
                            </header>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="data-list" style="margin-bottom: 0px;">
                                        <tr>
                                            <th style="width: 55%;padding-left: 0px;">Chargeback initiated date</th>
                                            <td id="chbInitiatedDate"><span class="inline-db-logo"></span> </td>
                                        </tr>
                                        <tr>
                                            <th style="width: 55%;padding-left: 0px;">Dalberry initial TXN reference</th>
                                            <td ><span class="inline-db-logo"></span><span id="dlbInitialTxnReference"></span> </td>
                                        </tr>
                                        <tr>
                                            <th style="width: 55%;padding-left: 0px;">Provider initial TXN ID</th>
                                            <td id="providerInitialTxnID"></td>
                                        </tr>
                                        <tr>
                                            <th style="width: 55%;padding-left: 0px;">Initial TXN processed date</th>
                                            <td id="initialTxnProcessedDate">  <span class="time"></span></td>
                                        </tr>
                                        <tr>
                                            <th style="width: 55%;padding-left: 0px;">Initial TXN auth code</th>
                                            <td id="initialTxnAuthCode"></td>
                                        </tr>
                                        <tr>
                                            <th style="width: 55%;padding-left: 0px;">Amount</th>
                                            <td id="chargebackAmount"></td>
                                        </tr>
                                        <tr>
                                            <th style="width: 55%;padding-left: 0px;">Ccy</th>
                                            <td id="chargebackCurrency"></td>
                                        </tr>
                                        <tr>
                                            <th style="width: 55%;padding-left: 0px;">Cardholder name</th>
                                            <td id="cardHolderName"></td>
                                        </tr>
                                        <tr>
                                            <th style="width: 55%;padding-left: 0px;">Method</th>
                                            <td id="chargeBackMethod"></td>
                                        </tr>
                                        <tr>
                                            <th style="width: 55%;padding-left: 0px;">Payment instrument</th>
                                            <td id="paymentInstrument"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="data-list" style="margin-bottom: 0px;">
                                        <tr>
                                            <th style="width: 40%;padding-left: 0px;">Provider TXN ID</th>
                                            <td><input type="text" name="providerTxnId" id="providerTxnId" placeholder="fill chargeback provider txn id" class="form-control" maxlength="50"></input>
                                                <div class="create-chb-error error">
                                                    Please fill out this field
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <th style="width: 55%;padding-left: 0px;">Case ID</th>
                                            <td><input type="text" name="chargebackCaseId" id="chargebackCaseId" placeholder="fill chargeback case id" class="form-control" value="" maxlength="50"></input>
                                                <div class="create-chb-error error">
                                                    Please fill out this field
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <th style="width: 55%;padding-left: 0px;">Reason</th>
                                            <td class="form-sales">
                                                <div style="width:220px">
                                                    <select class="form-control" id="chargeBackReason">

                                                    </select>
                                                </div>

                                                <div class="create-chb-error error">
                                                    Please select a reason
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <footer class="modal-footer">
                            <button type="button" class="btn btn-link close-chargeback-modal">Cancel</button>
                            <button type="button" class="btn btn-primary proceed-chb-confirm">Yes</button>
                        </footer>
                    </form>
                </div><!-- / blacklist-form -->
            </div>
            <button type="button" class="btn-close close-chargeback-modal" >Close</button>
        </div>
    </div>
    <div class="modal fade" id="modal-create-chargeback" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" style="width: 550px;">
            <div class="modal-content">
                <div class="modal-body">
                    <header class="headline">
                        <h4>Are you sure you want to add this chargeback?</h4>
                    </header>
                    <table class="data-list">

                        <tr>
                            <th style="width: 55%;">Amount</th>
                            <td id="chargebackAmountConfirm"></td>
                        </tr>
                        <tr>
                            <th style="width: 55%;">Ccy</th>
                            <td id="chargebackCurrencyConfirm"></td>
                        </tr>
                        <tr>
                            <th style="width: 55%;">Cardholder name</th>
                            <td id="cardHolderNameConfirm"></td>
                        </tr>

                        <tr>
                            <th style="width: 55%;">Method</th>
                            <td id="chargebackMethodConfirm"></td>
                        </tr>
                        <tr>
                            <th style="width: 55%;">Payment instrument</th>
                            <td id="paymentInstrumentConfirm"></td>
                        </tr>
                        <tr>
                            <th style="width: 55%;">Provider txn ID</th>
                            <td id="chargebackProviderTxnIdConfirm" style="word-break: break-all;word-wrap: break-word;-ms-word-wrap: break-word;" ></td>
                        </tr>
                        <tr>
                            <th style="width: 55%;">Chargeback initiated date</th>
                            <td id="chargebackInitDateConfirm" ></td>
                        </tr>
                        <tr>
                            <th style="width: 55%;">Chargeback reason</th>
                            <td id="chargebackReasonConfirm"></td>
                        </tr>
                        <tr>
                            <th style="width: 55%;">Case ID</th>
                            <td id="chargebackCaseIdConfirm" style="word-break: break-all;word-wrap: break-word;-ms-word-wrap: break-word;"></td>
                        </tr>

                    </table>
                </div>
                <footer class="modal-footer">
                    <button type="button" class="btn btn-link close-chargeback-modal-confirmation">Cancel</button>

                    <button type="button" id="confirm-chargeback-btn" class="btn btn-primary">Yes</button>
                    <div class="chargeback-error error"></div>
                    <div class="chargeback-success success"></div>
                </footer>
            </div>
            <button type="button" class="btn-close close-chargeback-modal-confirmation" >Close</button>
        </div>
    </div>
</template>
