<template id="customer-info-slider">
    <h4 class="defaultPointer">Customer information</a></h4>
    <div class="add-form custInfo">
        <form action="#" name="custInfo">
            <ul class="check-list">
                <li  class="cust-firstName">
                    <div class="checkbox"><input type="checkbox" value="firstName"  id="lbl-018"></div>
                    <label for="lbl-018">First name</label>
                </li>
                <li  class="cust-lastName">
                    <div class="checkbox"><input type="checkbox" value="lastName" id="lbl-019"></div>
                    <label for="lbl-019">Last name</label>
                </li>
                <li  class="cust-customerEmail">
                    <div class="checkbox"><input type="checkbox" value="customerEmail" id="lbl-020"></div>
                    <label for="lbl-020">Email</label>
                </li>

                <li  class="cust-phone">
                    <div class="checkbox"><input type="checkbox" value="phone" id="lbl-023"></div>
                    <label for="lbl-023">Phone</label>
                </li>
                <li  class="cust-birthDate">
                    <div class="checkbox"><input type="checkbox" value="birthDate" id="lbl-024"></div>
                    <label for="lbl-024">DOB</label>
                </li>

                <li  class="cust-isMale">
                    <div class="checkbox"><input type="checkbox" value="isMale" id="lbl-032"></div>
                    <label for="lbl-029">Gender</label>
                </li>
                <li  class="cust-address">
                    <div class="checkbox"><input type="checkbox" value="address" id="lbl-028"></div>
                    <label for="lbl-028">Address</label>
                </li>
                <li  class="cust-city">
                    <div class="checkbox"><input type="checkbox" value="city" id="lbl-029"></div>
                    <label for="lbl-029">City</label>
                </li>
                <li  class="cust-state">
                    <div class="checkbox"><input type="checkbox" value="state" id="lbl-030"></div>
                    <label for="lbl-030">Country / State</label>
                </li>
                <li  class="cust-postalCode">
                    <div class="checkbox"><input type="checkbox" value="postalCode" id="lbl-034"></div>
                    <label for="lbl-032">Zip</label>
                </li>
                <li  class="cust-country">
                    <div class="checkbox"><input type="checkbox" value="country" id="lbl-031"></div>
                    <label for="lbl-031">Country</label>
                </li>
                <li  class="cust-mac">
                    <div class="checkbox"><input type="checkbox" value="mac" id="lbl-033"></div>
                    <label for="lbl-030">Mac</label>
                </li>
                <li  class="cust-issuingBank">
                    <div class="checkbox"><input type="checkbox" value="issuingBank" id="lbl-034"></div>
                    <label for="lbl-032">Issuing Bank</label>
                </li>
                <li  class="cust-issuingCountry">
                    <div class="checkbox"><input type="checkbox" value="issuingCountry" id="lbl-033"></div>
                    <label for="lbl-030">Issuing Country</label>
                </li>

            </ul>
            <footer>
                <button type="button" class="btn btn-link check-all">Select all</button>
                <button type="reset" class="btn btn-link">Clear</button>
                <button type="button" id="cust-info-apply" class="btn btn-primary">Apply</button>
            </footer>
        </form>
    </div><!-- add-form -->
</template>
