<template id="txn-fraud-template">
	<div class="modal fade" id="fraud-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-md">
			<div class="modal-content" style="height:360px;">
            <div class="dispute-form">
                <form action="#">
                    <div class="modal-body">
                        <header class="headline">
                            <h4>Are you sure you want to mark this transaction as fraud?</h4>
                        </header>
                        <div style="text-align: center;align-content: center;">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="data-list" style="margin-bottom: 0px;">
                                        <tr>
                                            <th style="width: 80px;padding-left: 0px;vertical-align: middle;">Reason</th>
                                            <td class="form-sales">
                                                <select class="form-control" id="fraudReason" title="">
                                                    <option value="0"></option>
                                                    <option value="1">Card Not Present Fraud</option>
                                                    <option value="2">Fraud Application</option>
                                                    <option value="3">Counterfeit Card Fraud</option>
                                                    <option value="4">Account Takeover Fraud</option>
                                                    <option value="5">Lost Fraud</option>
                                                    <option value="6">Stolen Fraud</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <span id="fraud-result" class="error"></span>
                            </div>
                        </div>
                    </div>

                    <footer class="modal-footer">
                    <button type="button" class="btn btn-link close-modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="fraud-process">Yes</button>
                </footer>
                </form>
            </div><!-- / dispute-form -->
        </div>
        <button type="button" class="btn-close  close-modal">Close</button>
		</div>
	</div>
</template>
