<template id="observations-area">
    <div class="comment-form">
        <form action="#" name="observations-form">
            <h5>Observation</h5>
            <ul class="comments">

            </ul><!-- comments -->
            <textarea maxlength="200" placeholder="Add comment" class="form-control add-observation-area" cols="1" rows="1"></textarea>
            <footer>
                <mark class="pull-left">(max 200 characters)</mark>
                <button class="btn btn-primary pull-right add-observation" type="button" disabled >Add</button>
            </footer>
        </form>
    </div>
</template>
