<template id="refund-template">
	<div class="modal fade" id="refund-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-body">
					<header class="headline">
						<h4>Are you sure you want to issue refund?</h4>
					</header>
					<table class="data-list">
						<tr >
							<th>Amount</th>
							<td id="rfd-amt">€ 460.48</td>
						</tr>
						<tr>
							<th>Customer Name</th>
							<td  id="rfd-rx">Heidi Lee</td>
						</tr>
						<tr>
							<th>Dalberry Reference</th>
							<td id="rfd-ref">AMERICAN EXPRESS</td>
						</tr>
						<tr>
							<th>Merchant TXN ID</th>
							<td id="rfd-txn">123456******1234</td>
						</tr>
					</table>
				</div>
				<footer class="modal-footer">
					<button type="button" class="btn btn-link close-modal">Cancel</button>
					<button type="button" class="btn btn-primary" id="refund-process">Yes</button>
				</footer>
			</div>
			<button type="button" class="btn-close  close-modal">Close</button>
		</div>
	</div><!-- modal-01 -->
</template>