<template id="side-bar-template">
    <aside id="sidebar">
        <div class="scrollbar">
            <h3>Customize your table</h3>
            <div class="slides">
                <div class="slide">
                    <reporting-transaction-info-slider></reporting-transaction-info-slider>
                </div>
                <div class="slide">
                    <reporting-customer-info-slider></reporting-customer-info-slider>

                </div>
                <!-- slide -->

                <!-- slide -->
            </div>
            <!-- slides -->
        </div>
    </aside>
</template>
