<template id="summmary-box-template">
    <div class="summary-box transperent">
    <span class="opener">opener</span>
    <div class="info-summary">
        <i class="button-arrow"></i>
        <table>
          <thead>
          <tr>
              <th>Currency</th>
             <!--  <th>Incoming amount</th>
              <th>TXN count</th>
              <th>Outgoing amount</th>
              <th>TXN count</th> -->
              <th>Revenue</th>
              <th>TXN count</th>
          </tr>
          </thead>
<tbody>

</tbody>


        </table>
    </div>
    </div>
</template>
