<template id="tools-panel-template">
    <div class="tools-panel">
        <a href="#" class="menu-opener">Open</a>
        <nav class="filters-nav">
            <ul>
                <li class="active" data-txtype="All"><a href="#">All</a></li>
                <!-- <li><a href="#" data-txtype="Sales">Sales</a></li>
                <li><a href="#" data-txtype="Refund">Refunds</a></li>
                <li><a href="#" data-txtype="Withdrawals">Withdrawals</a></li> -->
            </ul>
            <a href="#" class="mobile-opener visible-xs-block">Filters</a>
        </nav><!-- end filters-nav -->
        <div class="right">
            <div class="search-box">
                <div class="search-collapse closed">
                    <div class="search-form">
                            <button class="btn-search" type="button">Search</button>
                            <input id="quick-search" type="text" class="form-control">
                    </div><!-- end search-form -->
                </div><!-- end search-collapse -->
                <a href="#" class="search-opener">Open Search</a>
            </div><!-- end search-box -->
            <span class="a-wrapper">
                <a href="#" class="btn-arrow" id="exportToCSV" style="display:none;">&#32;</a>
            </span>
        </div><!-- end right -->
    </div><!-- end tools-panel -->
</template>
