


<template id="txn-table-template">
    <!--<div class="table-header-div">-->
        <div class="dlb-table-cover">
        <table class="transactions-table headertable">
            <thead>
                <tr>
                    <th>   <i class="ico-view">&#32;</i></th>
                    <th class="active txnProcessedDate tran-txnProcessedDate" data-header-name="txnProcessedDate">
                        <div class="table-sort">
                            TXN processed date
                            <span class="drop-opener" data-filter-type="date">&#32;</span>
                            <div class="table-dropdown">
                                <div class="calendar-box">
                                    <div class="date-select">
                                        <div class="date-range">
                                            <input type="text" class="daterangepick form-control">
                                        </div>
                                        <!-- end date-range -->
                                        <a class="btn-list"><span>&#32;</span><span>&#32;</span><span>&#32;</span></a>
                                    </div>
                                    <!-- end date-select -->
                                    <ul class="dates-list">

                                    </ul>
                                    <!-- end dates-list -->
                                    <div class="btns-row">
                                        <button type="button" class="btn btn-link clear-dates" id="txnDate">Clear dates</button>
                                        <button type="button" class="btn btn-primary apply-filters">Apply</button>
                                    </div>
                                    <!-- end btns-row -->
                                </div>
                                <!-- end calendar-box -->
                            </div>
                            <!-- end table-dropdown -->
                        </div>
                    </th>
                    <th data-header-name="merchantCustomerId" class="merchantCustomerId tran-merchantCustomerId">
                        <div class="table-sort">Customer ID
                            <span class="drop-opener" data-filter-type="customerId">&#32;</span>
                            <div class="table-dropdown">
                                <div class="search-filter-box">
                                    <div class="search-filter-search">
                                        <div class="search-form">
                                            <form>
                                                <button class="btn-search" type="button">Search</button>
                                                <input placeholder="Search" type="search" id="customerid-val" maxlength="20" class="form-control">
                                            </form>
                                        </div>
                                        <!-- end search-form -->
                                    </div>
                                    <!-- end payment-search -->
                                    <div class="btns-row">
                                        <button type="button" id="customerId" class="btn btn-link clear-filters">Clear filter</button>
                                        <button type="button" class="btn btn-primary apply-filters">Apply</button>
                                    </div>
                                    <!-- end btns-row -->
                                </div>
                                <!-- end payment-box -->
                            </div>
                            <!-- end table-dropdown -->
                        </div>
                    </th>
                    <th data-header-name="txnAmount" class="txnAmount tran-txnAmount">
                        <span class="table-sort">Amount
                                <span class="drop-opener" data-filter-type="amount">&#32;</span>
                        <div class="table-dropdown">
                            <div class="amount-filter-box">
                                <div class="amount-filter-search">

                                    <form action="">
                                        <div class="amount-holder">
                                            <input style="width:110px;" placeholder="Amount From" id="amount-from" type="search" class="form-control pull-left">
                                            <input style="width:110px;" placeholder="Amount To" id="amount-to" type="search" class="form-control pull-right">
                                        </div>
                                    </form>
                                    <label class="error amt-error"></label>
                                </div>
                                <!-- end payment-search -->
                                <div class="btns-row">
                                    <button type="button" id="amt" class="btn btn-link clear-filters">Clear filter</button>
                                    <button type="button" id="amt-filter-btn" class="btn btn-primary apply-filters">Apply</button>
                                </div>
                            </div>
                            <!-- end payment-box -->
                        </div>
                        <!-- end table-dropdown -->
                        </span>
                    </th>
                    <th data-header-name="txnCurrency" class="txnCurrency tran-txnCurrency">
                        <span class="table-sort">Ccy
                            <span class="drop-opener" data-filter-type="currency">&#32;</span>
                        <div class="table-dropdown">
                            <div class="option-filter-box">
                                <div class="option-filter-search">
                                    <div class="search-form">
                                        <form action="">
                                            <button class="btn-search" type="button" onclick="return false;">Search</button>
                                            <input placeholder="Search" type="search" id="currency-value" class="form-control">
                                        </form>
                                    </div>
                                    <!-- end search-form -->
                                </div>
                                <!-- end payment-search -->
                                <ul class="check-group currency-container">

                                </ul>
                                <!-- end check-group -->
                                <div class="btns-row">
                                    <button type="button" id="ccy" class="btn btn-link clear-filters">Clear filters</button>
                                    <button type="button" class="btn btn-primary apply-filters">Apply</button>
                                </div>
                                <!-- end btns-row -->
                            </div>
                            <!-- end payment-box -->
                        </div>
                        <!-- end table-dropdown -->
                        </span>
                    </th>
                    <th data-header-name="cardType" class="cardType tran-cardType">
                        <div class="table-sort">
                            Method
                            <span class="drop-opener" data-filter-type="method">&#32;</span>
                            <div class="table-dropdown">
                                <div class="option-filter-box">
                                    <div class="option-filter-search">
                                        <div class="search-form">
                                            <form action="">
                                                <button class="btn-search" type="button">Search</button>
                                                <input placeholder="Search" type="search" id="method-value" class="form-control">
                                            </form>
                                        </div>
                                        <!-- end search-form -->
                                    </div>
                                    <!-- end payment-search -->
                                    <ul class="check-group methods-container">
                                        <!-- <li>
                                     <div class="checkbox"><input type="checkbox" id="lbl-01" checked="checked">
                                     </div>
                                     <label for="lbl-01">All</label>
                                 </li>
                                 <li>
                                     <div class="checkbox"><input type="checkbox" id="lbl-02" checked="checked">
                                     </div>
                                     <label for="lbl-02">American Express</label>
                                 </li>
                                 <li>
                                     <div class="checkbox"><input type="checkbox" id="lbl-03" checked="checked">
                                     </div>
                                     <label for="lbl-03">Direct Debit</label>
                                 </li>
                                 <li>
                                     <div class="checkbox"><input type="checkbox" id="lbl-04" checked="checked">
                                     </div>
                                     <label for="lbl-04">Master Card</label>
                                 </li>
                                 <li>
                                     <div class="checkbox"><input type="checkbox" id="lbl-05" checked="checked">
                                     </div>
                                     <label for="lbl-05">Neteller</label>
                                 </li>
                                 <li>
                                     <div class="checkbox"><input type="checkbox" id="lbl-06" checked="checked">
                                     </div>
                                     <label for="lbl-06">PayPal</label>
                                 </li>
                                 <li>
                                     <div class="checkbox"><input type="checkbox" id="lbl-07" checked="checked">
                                     </div>
                                     <label for="lbl-07">VISA</label>
                                 </li>
                                 <li>
                                     <div class="checkbox"><input type="checkbox" id="lbl-08" checked="checked">
                                     </div>
                                     <label for="lbl-08">VISA Electron</label>
                                 </li>-->
                                    </ul>
                                    <!-- end check-group -->
                                    <div class="btns-row">
                                        <button type="button" class="btn btn-link clear-filters" id="method">Clear filters</button>
                                        <button type="button" class="btn btn-primary apply-filters">Apply</button>
                                    </div>
                                    <!-- end btns-row -->
                                </div>
                                <!-- end payment-box -->
                            </div>
                            <!-- end table-dropdown -->
                        </div>
                    </th>
                    <th data-header-name="txnType" class="txnType tran-txnType">
                        <span class="table-sort">TXN type
                            <span class="drop-opener"  data-filter-type="txType">&#32;</span>
                        <div class="table-dropdown">
                            <div class="option-filter-box">
                                <div class="option-filter-search">
                                    <div class="search-form">
                                        <form action="">
                                            <button class="btn-search" type="button">Search</button>
                                            <input placeholder="Search" type="search" maxlength="20" id="type-value" class="form-control">
                                        </form>
                                    </div>
                                    <!-- end search-form -->
                                </div>
                                <!-- end payment-search -->
                                <ul class="check-group txntype-container">

                                </ul>
                                <!-- end check-group -->
                                <div class="btns-row">
                                    <button type="button" class="btn btn-link clear-filters" id="txnType">Clear filters</button>
                                    <button type="button" class="btn btn-primary apply-filters">Apply</button>
                                </div>
                                <!-- end btns-row -->
                            </div>
                            <!-- end payment-box -->
                        </div>
                        <!-- end table-dropdown -->
                        </span>
                    </th>
                    <th data-header-name="txnStatus" class="txnStatus tran-txnStatus">
                        <span class="table-sort">TXN status
                            <span class="drop-opener" data-filter-type="txstatus" >&#32;</span>
                        <div class="table-dropdown">
                            <div class="option-filter-box">
                                <div class="option-filter-search">
                                    <div class="search-form">
                                        <form action="">
                                            <button class="btn-search" type="button">Search</button>
                                            <input placeholder="Search" type="search" id="status-value" class="form-control">
                                        </form>
                                    </div>
                                    <!-- end search-form -->
                                </div>
                                <!-- end payment-search -->
                                <ul class="check-group status-container">

                                </ul>
                                <!-- end check-group -->
                                <div class="btns-row">
                                    <button type="button" id="status" class="btn btn-link clear-filters">Clear filters</button>
                                    <button type="button" class="btn btn-primary apply-filters">Apply</button>
                                </div>
                                <!-- end btns-row -->
                            </div>
                            <!-- end payment-box -->
                        </div>
                        <!-- end table-dropdown -->
                        </span>
                    </th>
                    <th data-header-name="dalberryTxnReference" class="dalberryTxnReference tran-dalberryTxnReference">
                        <span class="table-sort"><span class="inline-db-logo"></span> Reference
                        <span class="drop-opener" data-filter-type="dlbref">&#32;</span>
                        <div class="table-dropdown">
                            <div class="search-filter-box">
                                <div class="search-filter-search">
                                    <div class="search-form">
                                        <form action="">
                                            <button class="btn-search" type="button">Search</button>
                                            <input placeholder="Search" type="search" id="dlbtxnid-val" maxlength="20" class="form-control">
                                        </form>
                                    </div>
                                    <!-- end search-form -->
                                </div>
                                <!-- end payment-search -->
                                <div class="btns-row">
                                    <button type="button" class="btn btn-link clear-filters" id="ref">Clear filter</button>
                                    <button type="button" class="btn btn-primary apply-filters">Apply</button>
                                </div>
                                <!-- end btns-row -->
                            </div>
                            <!-- end payment-box -->
                        </div>
                        <!-- end table-dropdown -->
                        </span>
                    </th>
                    <th data-header-name="merchantTxnId" class="merchantTxnId tran-merchantTxnId">
                        <span class="table-sort">Merchant TXN ID
                            <span class="drop-opener" data-filter-type="merchanttxnId" >&#32;</span>
                        <div class="table-dropdown merchant-dropdown">
                            <div class="search-filter-box">
                                <div class="search-filter-search">
                                    <div class="search-form">
                                        <form action="">
                                            <button class="btn-search" type="button">Search</button>
                                            <input placeholder="Search" type="search" id="merchanttxnid-val" maxlength="20"  class="form-control">
                                        </form>
                                    </div>
                                    <!-- end search-form -->
                                </div>
                                <!-- end payment-search -->
                                <div class="btns-row">
                                    <button type="button" class="btn btn-link clear-filters" id="mTxnId">Clear filter</button>
                                    <button type="button" class="btn btn-primary apply-filters">Apply</button>
                                </div>
                                <!-- end btns-row -->
                            </div>
                            <!-- end payment-box -->
                        </div>
                        <!-- end table-dropdown -->
                        </span>
                    </th>
                    <th data-header-name="merchant" class="merchant tran-merchant">
                        <span class="table-sort">Merchant
                        <!-- please don not delete this this will be useful for v2 -->
                        <!--         <span class="drop-opener"  data-filter-type="merchantDetails">&#32;</span>
                        <div class="table-dropdown">
                            <div class="option-filter-box">
                                <div class="option-filter-search">
                                    <div class="search-form">
                                        <form action="">
                                            <button class="btn-search" type="button">Search</button>
                                            <input placeholder="Search" type="search" maxlength="20" id="merchantDetails-value" class="form-control">
                                        </form>
                                    </div>
                                    <!-- end search-form -->
                              <!--   </div>
                                <!-- end payment-search -->
                              <!--   <ul class="check-group merchantDetails-container">

                                </ul>
                                <!-- end check-group -->
                              <!--   <div class="btns-row">
                                    <button type="button" class="btn btn-link clear-filters" id="merchantDetailsBtn">Clear filters</button>
                                    <button type="button" class="btn btn-primary apply-filters">Apply</button>
                                </div> -->
                                <!-- end btns-row -->
                           <!--  </div> -->
                            <!-- end payment-box -->
                       <!--  </div> -->
                        <!-- end table-dropdown -->
                        </span>
                    </th>
                    <th data-header-name="brand" class="brand tran-brand">
                        <span class="table-sort">Brand
                            <span class="drop-opener"  data-filter-type="brandDetails">&#32;</span>
                        <div class="table-dropdown">
                            <div class="option-filter-box">
                                <div class="option-filter-search">
                                    <div class="search-form">
                                        <form action="">
                                            <button class="btn-search" type="button">Search</button>
                                            <input placeholder="Search" type="search" maxlength="20" id="brandDetails-value" class="form-control">
                                        </form>
                                    </div>
                                    <!-- end search-form -->
                                </div>
                                <!-- end payment-search -->
                                <ul class="check-group brandDetails-container">

                                </ul>
                                <!-- end check-group -->
                                <div class="btns-row">
                                    <button type="button" class="btn btn-link clear-filters" id="brandDetailsBtn">Clear filters</button>
                                    <button type="button" class="btn btn-primary apply-filters">Apply</button>
                                </div>
                                <!-- end btns-row -->
                            </div>
                            <!-- end payment-box -->
                        </div>
                        <!-- end table-dropdown -->
                        </span>
                    </th>
                    <th data-header-name="mid" class="mid tran-mid">
                        <span class="table-sort">MID
                            <span class="drop-opener"  data-filter-type="midDetails">&#32;</span>
                        <div class="table-dropdown">
                            <div class="option-filter-box">
                                <div class="option-filter-search">
                                    <div class="search-form">
                                        <form action="">
                                            <button class="btn-search" type="button">Search</button>
                                            <input placeholder="Search" type="search" maxlength="20" id="midDetails-value" class="form-control">
                                        </form>
                                    </div>
                                    <!-- end search-form -->
                                </div>
                                <!-- end payment-search -->
                                <ul class="check-group midDetails-container">

                                </ul>
                                <!-- end check-group -->
                                <div class="btns-row">
                                    <button type="button" class="btn btn-link clear-filters" id="midDetailsBtn">Clear filters</button>
                                    <button type="button" class="btn btn-primary apply-filters">Apply</button>
                                </div>
                                <!-- end btns-row -->
                            </div>
                            <!-- end payment-box -->
                        </div>
                        <!-- end table-dropdown -->
                        </span>
                    </th>
                    <!-- End of Mandatory Fields -->
                    <!-- Optional Fields -->
                    <th data-header-name="txnCreatedDate" class="txnCreatedDate tran-txnCreatedDate"><span class="table-sort">TXN creation date</span></th>
                    <th data-header-name="cardHolderName" class="cardHolderName tran-cardHolderName"><span class="table-sort">Cardholder Name</span></th>
                    <th data-header-name="paymentInstrument" class="paymentInstrument tran-paymentInstrument"><span class="table-sort">Payment Instrument</span></th>
                    <th data-header-name="paymentMethod" class="paymentMethod tran-paymentMethod"><span class="table-sort">Payment Instrument type</span></th>
                    <th data-header-name="ip" class="ip  tran-ip"><span class="table-sort">IP</span></th>
                    <th data-header-name="3dSecure" class="3dSecure tran-3dSecure"><span class="table-sort">3D Secure</span></th>
                    <th data-header-name="billingDescriptor" class="billingDescription tran-billingDescription"><span class="table-sort">Billing descriptor</span></th>
                    <th data-header-name="revertedTxn" class="revertedTxn tran-revertedTxn"><span class="table-sort">Initial TXN</span></th>
                    <th data-header-name="platform" class="platform tran-platform"><span class="table-sort">Platform</span></th>
                   <!-- <th data-header-name="browser" class="browser tran-browser"><span class="table-sort">Browser</span></th>-->
                    <th data-header-name="providerTxnId" class="providerTxnID tran-providerTxnID"><span class="table-sort">Provider TXN ID</span></th>
                    <th data-header-name="authCode" class="authCode tran-authCode"><span class="table-sort">Auth Code</span></th>
                    <th data-header-name="errorCode" class="errorCode tran-errorCode"><span class="table-sort">Error code</span></th>
                    <th data-header-name="errorMessage" class="errorMessage tran-errorMessage"><span class="table-sort">Error message</span></th>
                    <th data-header-name="dbErrorCode" class="dbErrorCode tran-dbErrorCode"><span class="table-sort"><span class="inline-db-logo"></span>Error code</span></th>
                    <th data-header-name="dbErrorMessage" class="dbErrorMessage tran-dbErrorMessage"><span class="table-sort"><span class="inline-db-logo"></span>Error message</span></th>
                    <!--<th class="merchant"><span class="table-sort">Merchant</span></th>
            <th class="brand"><span class="table-sort">Brand</span></th>-->
                    <th data-header-name="firstName" class="firstName cust-firstName"><span class="table-sort">First name</span></th>
                    <th data-header-name="lastName" class="lastName cust-lastName"><span class="table-sort">Last name</span></th>
                    <th data-header-name="customerEmail" class="customerEmail cust-customerEmail"><span class="table-sort">Email</span></th>
                    <th data-header-name="phone" class="phone cust-phone"><span class="table-sort">Phone</span></th>
                    <th data-header-name="birthDate" class="birthDate cust-birthDate"><span class="table-sort">DOB</span></th>
                    <th data-header-name="gender" class="isMale cust-isMale"><span class="table-sort">Gender</span></th>
                    <th data-header-name="address" class="address cust-address"><span class="table-sort">Address</span></th>
                    <th data-header-name="city" class="city cust-city"><span class="table-sort">City</span></th>
                    <th data-header-name="provinceState" class="state cust-state"><span class="table-sort">Country/State</span></th>
                    <th data-header-name="zip" class="postalCode cust-postalCode"><span class="table-sort">Zip</span></th>
                    <th data-header-name="country" class="country cust-country"><span class="table-sort">Country</span></th>
                    <th data-header-name="mac" class="mac cust-mac"><span class="table-sort">MAC</span></th>
                    <th data-header-name="issuingBank" class="issuingBank cust-issuingBank"><span class="table-sort">Issuing Bank</span></th>
                    <th data-header-name="issuingCountry" class="issuingCountry cust-issuingCountry"><span class="table-sort">Issuing Country</span></th>

                </tr>
            </thead>
        <!--</table>
    </div>
    <div>
        <table class="transactions-table">-->
            <tbody>

            </tbody>
        </table>
        </div>
    <!--</div>-->

    <!-- end transactions-table -->
    <script id="row-template" type="text/template">
    <tr id="row_$index$">
        <td id="icon" data-id="$index$">$iconMarkup$</td>
        <td class="processingDate txnProcessedDate">$txnProcessedDate$</td>
        <td class="rbac-risk merchantCustomerId">$merchantCustomerId$</td>
        <td class="transaction-area-amount txnAmount">$txnAmount$</td>
        <td class="txnCurrency">$txnCurrency$</td>
        <td class="logo-cell cardType">
            <div class="payment-table-logo $cardType$" data-original-title="" title=""></div>
        </td>
        <td class="txnType">$txnType$</td>
        <td class="txnStatus">$m$</td>
        <td class="dalberryTxnReference">$dalberryTxnReference$</td>
        <td class="merchantTxnId">$merchantTxnId$</td>
        <td class="merchant">$merchant$</td>
        <td class="brand">$brand$</td>
        <td class="mid">$mid$</td>
        <!-- End of Mandatory Fields -->
        <!-- Optional Fields -->
        <td class="txnCreatedDate">$txnCreatedDate$</td>
        <td class="cardHolderName">$cardHolderName$</td>
        <td class="paymentInstrument">$paymentInstrument$</td>
        <td class="paymentMethod">$paymentMethod$</td>
        <td class="ip">$ip$</td>
        <td class="3dSecure">$flag3d$</td>
        <td class="billingDescription">$billingDescriptor$</td>
        <td class="revertedTxn">$revertedTxn$</td>
        <td class="platform">$platform$</td>
        <!--<td class="browser">$browser$</td>-->
        <td class="providerTxnID">$providerTxnID$</td>
        <td class="authCode">$authCode$</td>
        <td class="errorCode">$errorCode$</td>
        <td class="errorMessage">$errorMessage$</td>
        <td class="dbErrorCode">$dbErrorCode$</td>
        <td class="dbErrorMessage"><div>$dbErrorMessage$</div></td>
        <td class="firstName">$firstName$</td>
        <td class="lastName">$lastName$</td>
        <td class="customerEmail">$customerEmail$</td>
        <td class="phone">$phone$</td>
        <td class="birthDate">$birthDate$</td>
        <td class="isMale">$gender$</td>
        <td class="address">$address$</td>
        <td class="city">$city$</td>
        <td class="state">$state$</td>
        <td class="postalCode">$postalCode$</td>
        <td class="country">$country$</td>
        <td class="mac">$macAddress$</td>
        <td class="issuingBank">$issuingBank$</td>
        <td class="issuingCountry">$issuingCountry$</td>
    </tr>
    </script>

    </template>
