<template id="transaction-info-slider">
    <h4 class="defaultPointer">Transaction information</h4>
    <div class="add-form tran-info">
        <form action="#" name="txInfo">
            <ul class="check-list">

                <!--<li class="tran-merchant" style="display:none">
                    <div class="checkbox"><input type="checkbox" value="merchant" id="lbl-002"></div>
                    <label for="lbl-002">Merchant</label>
                </li>

                <li class="tran-brand" style="display:none">
                    <div class="checkbox"><input type="checkbox" value="brand" id="lbl-001"></div>
                    <label for="lbl-001">Brand</label>
                </li>
                <li  class="tran-mid" style="display:none">
                    <div class="checkbox"><input type="checkbox" value="mid" id="lbl-0044"></div>
                    <label for="lbl-0044">MID</label>
                </li>-->

                <li  class="tran-txnCreatedDate">
                    <div class="checkbox"><input type="checkbox" value="txnCreatedDate" id="lbl-003"></div>
                    <label for="lbl-003">TXN creation date</label>
                </li>
                <li  class="tran-cardHolderName">
                    <div class="checkbox"><input type="checkbox" value="cardHolderName" id="lbl-004"></div>
                    <label for="lbl-004">Cardholder name</label>
                </li>
                <li  class="tran-paymentInstrument">
                    <div class="checkbox"><input type="checkbox" value="paymentInstrument" id="lbl-005"></div>
                    <label for="lbl-005">Payment Instrument</label>
                </li>
                <li  class="tran-paymentMethod">
                    <div class="checkbox"><input type="checkbox" value="paymentMethod" id="lbl-006"></div>
                    <label for="lbl-006">Payment Instrument type</label>
                </li>
                <!--   <li  class="tran-">
                       <div class="checkbox"><input type="checkbox" value="solution" id="lbl-007"></div>
                       <label for="lbl-007">Solution</label>
                   </li>-->

                <li  class="tran-ip">
                    <div class="checkbox"><input type="checkbox" value="ip" id="lbl-008"></div>
                    <label for="lbl-008">IP</label>
                </li>
                <li  class="tran-3dSecure">
                    <div class="checkbox"><input type="checkbox" value="3dSecure" id="lbl-009"></div>
                    <label for="lbl-009">3D Secure</label>
                </li>
                <li  class="tran-billingDescription">
                    <div class="checkbox"><input type="checkbox" value="billingDescription" id="lbl-010"></div>
                    <label for="lbl-010">Billing descriptor</label>
                </li>
                <!-- <li  class="tran-">
                     <div class="checkbox"><input type="checkbox" value="referenceNumber" id="lbl-011"></div>
                     <label for="lbl-011">Reference number</label>
                 </li>-->
                <li  class="tran-revertedTxn">
                    <div class="checkbox"><input type="checkbox" value="revertedTxn" id="lbl-012"></div>
                    <label for="lbl-012">Initial TXN</label>
                </li>
                <li  class="tran-platform">
                    <div class="checkbox"><input type="checkbox" value="platform" id="lbl-0133"></div>
                    <label for="lbl-0133">Platform</label>
                </li>
              <!--  <li  class="tran-browser">
                    <div class="checkbox"><input type="checkbox" value="browser" id="lbl-013"></div>
                    <label for="lbl-013">Browser</label>
                </li>-->
                <li  class="tran-providerTxnID">
                    <div class="checkbox"><input type="checkbox" value="providerTxnID" id="lbl-0143"></div>
                    <label for="lbl-0143">Provider TXN ID</label>
                </li>
                <li  class="tran-authCode">
                    <div class="checkbox"><input type="checkbox" value="authCode" id="lbl-015"></div>
                    <label for="lbl-015">Auth Code</label>
                </li>
                <li  class="tran-errorCode">
                    <div class="checkbox"><input type="checkbox" value="errorCode" id="lbl-014"></div>
                    <label for="lbl-014">Error code</label>
                </li>
                <li  class="tran-errorMessage">
                    <div class="checkbox"><input type="checkbox" value="errorMessage" id="lbl-0141"></div>
                    <label for="lbl-0141">Error message</label>
                </li>
                <li  class="tran-dbErrorCode">
                    <div class="checkbox"><input type="checkbox" value="dbErrorCode" id="lbl-016"></div>
                    <label for="lbl-016"><span class="inline-db-logo"></span>Error code</label>
                </li>
                <li  class="tran-dbErrorMessage">
                    <div class="checkbox"><input type="checkbox" value="dbErrorMessage" id="lbl-017"></div>
                    <label for="lbl-017"><span class="inline-db-logo"></span>Error message</label>
                </li>
                <!--<li  class="tran-">
                    <div class="checkbox"><input type="checkbox" value="merchant" id="lbl-0182"></div>
                    <label for="lbl-0182">Merchant</label>
                </li>
                <li  class="tran-">
                    <div class="checkbox"><input type="checkbox" value="brand" id="lbl-0192"></div>
                    <label for="lbl-0192">Brand</label>
                </li>-->

            </ul>
            <footer>
                <button type="button" class="btn btn-link check-all">Select all</button>
                <button type="reset" class="btn btn-link">Clear</button>
                <button type="button" id="trans-info-apply" class="btn btn-primary">Apply</button>
            </footer>
        </form>
    </div><!-- add-form -->
</template>
