<template id="tx-details-template">
	<div class="modal fade" id="tx-details-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<header class="modal-header tranInfo">
					<div class="row">
						<div class="col-sm-4">
							<h4>Transaction details</h4>
						</div>
						<div class="col-sm-4" id="refund-box">
							<input type="text" style="width:100px;height:32px;" readonly="true" id="tx-amt" class="price" value="460.48"></input>
							<button id="refund-btn" class="btn btn-primary">Refund</button>
							<div class="refund-error error"></div>
							<div class="refund-success success"></div>
						</div>
						<div class="col-sm-2" id="txn-update-box">
							<button id="txn-update-btn" class="btn btn-primary">Update txn</button>
							<div class="txn-update-error error"></div>
							<div class="txn-update-success success"></div>
						</div>

                        <div class="col-sm-2">
                            <button class="btn btn-primary" id="chargeBackButton">Chargeback</button>
                            <div class="chargeback-error error"></div>
                            <div class="chargeback-success success"></div>
                        </div>
					</div>
				</header>
				<!-- modal-header -->
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-6 type2">
							<h5 class="tranInfo">Transaction information</h5>
							<table class="data-list type2 tranInfo">
								<tr class="tran-merchant">
									<th>Merchant</th>
									<td><span id="tx-merchant" class="rbac-risk"></span></td>
								</tr>
								<tr class="tran-brand">
									<th>Brand</th>
									<td><span id="tx-brand" class="rbac-risk"></span></td>
								</tr>
								<tr class="tran-dalberryTxnReference">
									<th>Dalberry reference</th>
									<td><span class="inline-db-logo"></span><span id="tx-ref" class="rbac-risk">20982348793847829384</span></td>
								</tr>
								<tr class="tran-merchantTxnId">
									<th>Merchant TXN ID</th>
									<td id="tx-merchantTxnId" class="rbac-risk">17892678361787762736</td>
								</tr>
								<tr class="tran-txnType">
									<th>TXN type</th>
									<td id="tx-type" class="rbac-risk">Chargeback</td>
								</tr>
								<tr class="tran-txnStatus">
									<th>TXN status</th>
									<td id="tx-status" class="rbac-risk">Approved</td>
								</tr>
								<tr class="tran-txnCreatedDate">
									<th>TXN created date</th>
									<td id="tx-cdate" class="rbac-risk">12-10-2016 17:25:05</td>
								</tr>
								<tr class="tran-txnProcessedDate">
									<th>TXN processed date</th>
									<td id="tx-pdate" class="rbac-risk">12-10-2016 18:55:17</td>
								</tr>
								<tr class="tran-txnAmount">
									<th>Amount</th>
									<td id="tx-amt-lbl" class="rbac-risk">460.48</td>
								</tr>
								<tr class="tran-txnCurrency">
									<th>Currency</th>
									<td id="tx-curr" class="rbac-risk">EUR</td>
								</tr>
								<tr class="tran-cardHolderName">
									<th>Cardholder name</th>
									<td id="tx-name" class="rbac-risk">HEIDI LEE</td>
								</tr>
								<tr class="tran-cardType">
									<th>Method</th>
									<td id="tx-method" class="rbac-risk">AMERICAN EXPRESS</td>
								</tr>
								<tr class="tran-paymentMethod">
									<th>Payment instrument type</th>
									<td id="tx-insType" class="rbac-risk">Credit card</td>
								</tr>
								<tr class="tran-paymentInstrument">
									<th>Payment instrument</th>
									<td id="tx-ins" class="rbac-risk">123456******1234</td>
								</tr>
								<tr class="tran-mid">
									<th>MID</th>
									<td id="tx-mid" class="rbac-risk"></td>
								</tr>
								<tr class="tran-">
									<th>IP</th>
									<td id="tx-ip" class="rbac-risk">172.225.23.3</td>
								</tr>
								<tr class="tran-3dSecure">
									<th>3D secure</th>
									<td id="tx-is3D" class="rbac-risk">No</td>
								</tr>
								<tr class="tran-billingDescription">
									<th>Billing descriptor</th>
									<td id="tx-descriptor" class="rbac-risk">The billing</td>
								</tr>
								<tr class="tran-revertedTxn">
									<th>Initial TXN</th>
									<td id="tx-rev" class="rbac-risk">222323231231313123132323232</td>
								</tr>
								<tr class="tran-platform">
									<th>Platform</th>
									<td id="tx-platform" class="rbac-risk">Dalberry</td>
								</tr>
							<!--	<tr class="tran-browser">
									<th>Browser</th>
									<td id="tx-browser" class="rbac-risk">cURL 5.2 / Debian Linux 8</td>
								</tr>-->
								<tr class="tran-providerTxnId">
									<th>Provider TXN ID</th>
									<td id="tx-ptxnid" class="rbac-risk">2333212323</td>
								</tr>
								<tr class="tran-authCode">
									<th>Auth code</th>
									<td id="tx-authcode" class="rbac-risk">–</td>
								</tr>
								<tr class="tran-errorCode">
									<th>Error code</th>
									<td id="tx-errorcode" class="rbac-risk">100</td>
								</tr>
								<tr class="tran-errorMessage">
									<th>Error message</th>
									<td id="tx-msg" class="rbac-risk">Transaction successfully finished</td>
								</tr>
								<tr class="tran-dbErrorCode">
									<th>Dalberry error code</th>
									<td><span class="inline-db-logo"></span><span id="tx-dlb-error" class="rbac-risk">0</span></td>
								</tr>
								<tr class="tran-dbErrorMessage">
									<th>Dalberry error message</th>
									<td><span class="inline-db-logo"></span><span id="tx-dlb-msg" class="rbac-risk">Transaction Approved</span></td>
								</tr>
								<tr class="tran-channel">
									<th>Channel</th>
									<td id="tx-channel" class="rbac-risk"></td>
								</tr>
								<tr class="tran-subchannel">
									<th>Sub Channel</th>
									<td id="tx-subchannel" class="rbac-risk"></td>
								</tr>
							</table>
						</div>
						<div class="col-sm-6 type3">
							<h5 class="custInfo">Customer information</h5>
							<table class="data-list type2 custInfo">
								<tr class="cust-customerId">
									<th>Customer ID</th>
									<td id="tx-custId" class="rbac-risk">ABCD1234567890123456</td>
								</tr>
								<tr class="cust-firstName">
									<th>First Name</th>
									<td id="tx-custfName" class="rbac-risk">Heidi</td>
								</tr>
								<tr class="cust-lastName">
									<th>Last name</th>
									<td id="tx-custlName" class="rbac-risk">Lee</td>
								</tr>
								<tr class="cust-customerEmail">
									<th>Email</th>
									<td id="tx-custEmail" class="rbac-risk"><a>Heidi.Lee@gmail.com</a></td>
								</tr>
								<tr class="cust-phone">
									<th>Phone</th>
									<td id="tx-custphone" class="rbac-risk">+47 7458 412 74</td>
								</tr>
								<tr class="cust-birthDate">
									<th>DOB</th>

									<td  id="tx-custdob"  class="rbac-risk"></td>

								</tr>
								<tr class="cust-isMale">
									<th>Gender</th>
									<td id="tx-custgender" class="rbac-risk">F</td>
								</tr>
								<tr class="cust-address">
									<th>Address</th>
									<td id="tx-custaddress" class="rbac-risk">9560 Rockwell Dr. Willoughby, NY 44094</td>
								</tr>
								<tr class="cust-city">
									<th>City</th>
									<td id="tx-custcity" class="rbac-risk">New York</td>
								</tr>
								<tr class="cust-state">
									<th>County/State</th>
									<td id="tx-custState" class="rbac-risk">New York</td>
								</tr>
								<tr class="cust-postalCode">
									<th>Zip</th>
									<td id="tx-custZip" class="rbac-risk">222321</td>
								</tr>
								<tr class="cust-country">
									<th>Country</th>
									<td id="tx-custCountry" class="rbac-risk">United States</td>
								</tr>
								<tr class="cust-mac">
									<th>Mac</th>
									<td id="tx-mac" class="rbac-risk"></td>
								</tr>
								<tr>
									<th>Issuing Bank</th>
									<td id="tx-issuingBank" class="rbac-risk"></td>
								</tr>
								<tr>
									<th>Issuing Country</th>
									<td id="tx-issuingCountry" class="rbac-risk"></td>
								</tr>


							</table>
							<!-- <button  id="blacklist-btn" class="btn btn-primary btn-sm"><i class="fa fa-ban" aria-hidden="true"></i> <span id="bl-lbl">Add to</span> Blacklist</button> -->
							<button id="fraud-btn" type="button" class="btn btn-primary btn-sm" style="width: 140px;"><i class="fa fa-flag" aria-hidden="true"></i> Fraud Flag</button>
							<div class="bl-success success"></div>
							<div class="bl-error error"></div>
							<div class="f-success success"></div>
							<div class="f-error error"></div>
							<observations-area></observations-area>
						</div>
					</div>

					<h5 class="info-table">Transaction log</h5>
					<div class="info-table">
						<table class="transaction-log">
							<thead>
								<tr>
									<th>Date</th>
									<th>Action</th>
									<th>Comments</th>
									<th>User</th>
								</tr>
							</thead>
							<tbody>
							</tbody>

						</table>
					</div>
				</div>
			</div>
			<button type="button" class="btn-close close-modal">Close</button>
		</div>
	</div><!-- modal-02 -->
</template>
