<template id="txnstatus-template">
	<div class="modal fade" id="txnstatus-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-md size2" style="max-width: 650px;">
			<div class="modal-content">
                <div class="blacklist-form">
                <form action="#">
				<div class="modal-body">
                    <header class="headline" style="padding-bottom:20px">
                        <h4>Update Transaction?</h4>
                    </header>
                    <div class="row">
                        <div class="col-md-12">

					         <table class="data-list">
						<tr>
							<th>TXN type</th>
							<td id="txn-type"></td>
						</tr>
						<tr>
							<th>TXN status</th>
							<td id="txn-status"></td>
						</tr>
						<tr>
							<th>Update Txn Status</th>
							<td>
                              <select class="form-control" id="available-txn-status"></select>
                            </td>
						</tr>
						<tr>
							<th>Provider Errors</th>
							<td>
								<select class="form-control" id="provider-errors"></select>
                            </td>
						</tr>
						<tr>
							<th>3D Secure</th>
							<td>
                                <div class="checkbox">
                                    <label><input type="checkbox" checked="false" id="txn-3d-secure"/></label>
                                </div>
                            </td>
						</tr>
						<tr>
							<th>Provider TXN ID</th>
							<td><input id="txn-provider-txn-id" type="text" class="form-control" value=""/></td>
						</tr>
						<tr>
							<th>Auth code</th>
							<td><input id="txn-auth-code" type="text" class="form-control" value=""/></td>
						</tr>
						<tr>
							<th>Reason for change<span style="color:red;">*</span></th>
							<td>
								<textarea class="form-control" id="txn-reason-change" rows="2" value="" required></textarea>
								<div class="update-txn-modal-error error"></div>
							</td>
						</tr>
					</table>
                        </div>
                    </div>
				</div>

				<footer class="modal-footer">
					<button type="button" class="btn btn-link close-modal">Cancel</button>
					<button type="button" class="btn btn-primary" id="txn-update-details">Update</button>
				</footer>
                </form>
			</div>
			<button type="button" class="btn-close  close-modal">Close</button>
		</div>
	</div><!-- modal-01 -->
</template>
