<template>
    <div class="dashboard">
        <div id="wrapper">
            <reporting-header></reporting-header>
            <reporting-tools-panel></reporting-tools-panel>
            <reporting-content-area></reporting-content-area>
            <reporting-side-bar></reporting-side-bar>
        </div>
        <!-- end wrapper -->
        <reporting-footer></reporting-footer>
    </div>
</template>
<!-- footer -->