<template id="footer-template">
<footer id="footer">
    <div class="row">
        <div class="col-sm-8 col-xs-12 pull-right">
            <nav>
                <ul>
                    <li><a href="#">Disclaimer</a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-4 col-xs-12">
            <p>&copy; 2017 Dalberry Technologies</p>
        </div>
    </div>
</footer>
</template>