<template id="header-template">
    <header id="header">
        <strong class="logo"><a href="#">Dalberry Dashboard</a></strong>
        <nav id="main-nav">
            <ul>
                <!-- <li class="ico-dashboard"><a href="#">Smart Panel</a></li> -->
                <li class="ico-transactions active"><a href="#">Transactions</a></li>
                <!-- <li class="ico-risk"><a href="#">Risk</a></li>
                <li class="ico-finance"><a href="#">Finance</a></li> -->
            </ul>
        </nav><!-- end main-nav -->
        <div class="block">
            <!-- <a href="#" class="help-link hidden-sm hidden-xs">&#32;</a>
             <div class="notifications-box hidden-sm hidden-xs">
                <a href="#" class="notifications-link"><span>2</span></a>
            </div> -->
            <!-- end notifications-box -->
            <div class="user-box">
                <div class="user dropdown">
                    <a href="#" class="user-link dropdown-toggle" data-toggle="dropdown">
                        <div class="user-ico">
                            <img src="images/ico-user-white-01.png" alt="image">
                        </div><!-- end user-ico -->
                        <span class="user-name" id="backOfficeAgentName"></span>
                        <span class="arrow">&#32;</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="change-password" id="change-password" style="text-align: center;">Change Password</a></li>
                        <!-- <li><a href="#">Option 2</a></li>
                        <li><a href="#">Option 3</a></li> -->
                    </ul><!-- end dropdown-menu -->
                </div><!-- end user -->
            </div><!-- end user-box -->
            <a href="#"
               class="btn-menu visible-sm-inline-block visible-xs-inline-block"><span>&#32;</span><span>&#32;</span><span>&#32;</span></a>
            <a href="#" class="logout-link hidden-sm hidden-xs">Logout</a>
        </div><!-- end block -->
    </header><!-- end header -->
</template>
